<div id="current-messages" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
  <div class="tree-background dark">
    
    <div class="breadcrumbs">
      <ul>
        <li>Current Messages</li>
      </ul>
    </div>

    <div id="messages-scroller" class="jstree">
      <ul id="messages-list"></ul>
    </div>

  </div>
</div>