<div id="current-messages" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
  <div class="tree-background">
    
    <div class="breadcrumbs">
      <ul>
        <li>Current Messages</li>
      </ul>
    </div>

   <div id="messages-chat" class="dark"><label for="chat-message">Chat</label><input id="chat-message" type="text" class="input chat"></input><button id="chat-submit" class="green-submit-small ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Send</span></button></div>

    <div id="messages-scroller" class="jstree">
      <ul id="messages-list"></ul>
    </div>

  </div>
</div>