<!-- Roles -->
  <div class="infobox-wrap">
    <div class="breadcrumbs">
      <ul>
        <li>Roles</li>
      </ul>
    </div>
    <div class="infobox">

    <div class="info-content">
      <% Role.all.each do |role| %> 
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), { :id => nil, :class => "checkbox" } %>
        <%= hidden_field_tag "user[role_ids][]", nil, { :id => nil } %>
        <span class="checkbox-label"><%= role.name.titleize %></span>
     <% end %>
    </div>

    </div>
  </div>