<!-- Profile -->
  <div class="infobox-wrap">
    <div class="breadcrumbs">
      <ul>
        <li>Profile</li>
      </ul>
    </div>
    <div class="infobox">

    <div class="info-content">
      <%= f.inputs do -%>
        <%= f.input :given_name %>
        <%= f.input :surname %>
        <%= f.input :affiliation %>
      <% end -%>
    </div>

    </div>
  </div>