/* Global Stucture */
/************************************************************************/
body {
  background: #3e4649 url("../images/background.jpg") top left repeat;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
  height: 100%;
  margin-left: 200px;
}

body.sessions #wrapper {
  margin: 0;
}

#header {
  background: rgb(35, 41, 44); /* The Fallback */
  background: rgba(11, 12, 14, 0.25);
  height: 50px;
  width: 100%;
  padding: 0;
}

#header h1 {
  color:white;
  padding:15px 45px;
}

#header #master_tree_title {
  font-size: 14px;
  margin: 9px 0 0 40px;
  padding: 3px;
  width: 20%;
}

#header span {
  color: #fff;
  margin: 0 0 0 10px;
}

#header span.error {
  color: #d10000;
}

#fluid-head {
  color:rgb(236, 234, 226);
  height:27px;
  margin:0 0 0 30px;
  width:100%;
}

h1 {
  font-size: 1.5em;
  padding:10px 0px;
}

h2 {
  font-size: 1.25em;
  padding:6px 0px;
}

hr {
  background: #31373b;
  border:none;
  border-bottom: 1px solid #343a3f;
  height:1px;
  margin:15px 0px;
  width:100%;
}

/* Body Content */
/************************************************************************/
#content {
  height:100%;
  min-height:800px;
  min-width:960px;
}

#bodywrap {
  color: black;
  margin: 20px 40px;
  width: 760px;
}

.infobox-wrap {
  background: white;
  float: left;
  margin: 10px 0px;
  width: 600px;
}

.infobox-wrap .title {
  background: #eceae2;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(236, 234, 226)), to(rgb(206, 203, 188)));
  background: -moz-linear-gradient(center bottom, rgb(184,184,184), rgb(220, 222, 222));
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  color:#444;
  font-weight: bold;
  height:36px;
  padding:0px;
  width:100%;
}

.infobox {
  background:rgb(247, 246, 243);
  color:#000;
  padding:10px 10px 20px;
}

.infobox p {
  padding: 10px 0 10px;
}

.infobox label {
  display: block;
  float: left;
  font-weight: bold;
  margin: 10px 10px 0 0;
  text-align: right;
  width: 120px;
}

.infobox ul li {
  margin: 15px;
}

.infobox input {
  background: #fff;
  border:1px solid rgb(199, 195, 181);
  border-radius:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height:28px;
  padding:0 10px;
  width:286px;
}

.input {
  margin:3px 0 10px;
}

.title p {
  line-height: 30px;
  padding:5px 10px;
}

body form input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Login Screen */
/************************************************************************/
#loginwrap {
  margin: 0 auto;
  padding: 150px 0;
  text-align: left;
  width: 960px;
}

#loginlogo {
  float: left;
  height: 190px;
  margin-top: 35px;
  width: 390px;
}

#loginform {
  float: left;
  padding: 0 20px;
}

#loginform legend {
  color: rgb(127, 196, 67);
  font-size: 1.8em;
  padding-bottom: 15px;
  text-shadow: 1px 1px 0 rgba(26, 26, 26, 0.6);
}

#loginform label {
  color: #fff;
  display: block;
  font-size:1.2em;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

#loginform label abbr {
  display: none; /*gets rid of useless asterisk*/
}

#loginform .input {
  border: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  color: #232323;
  font-size:1.4em;
  margin-bottom: 12px;
  padding: 8px 10px;
  text-shadow: 0 0 1px rgba(0,0,0,.25);
  width:380px;
}

#loginform fieldset.buttons .green-submit {
  margin-top: 5px;
}

.green-submit{
  min-height:38px;
  padding: 7px 15px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.cancel-button {
  text-decoration: none;
}

.cancel-button,
.green-submit {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgb(27,112,4) 4%, rgb(90,165,43) 58%, rgb(144,207,76) 98%);
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.04, rgb(27,112,4)), color-stop(0.58, rgb(90,165,43)), color-stop(0.98, rgb(144,207,76)));
  border: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0, 1), 0 -1px 0 #114503;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0, 1), 0 -1px 0 #114503;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0, 1), 0 -1px 0 #114503;
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0;
  text-shadow: 0 -1px 1px #2c5015;
}

.cancel-button:hover,
.green-submit:hover {
  border: 0 solid rgb(15, 18, 21);
  box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  -moz-box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  -webkit-box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  cursor: pointer;
}

.cancel-button.shadow,
.green-submit.shadow {
  box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px 1px rgb(98,179,34) inset !important;
  -moz-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px 1px rgb(98,179,34) inset !important;
  -webkit-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px 1px rgb(98,179,34) inset !important;
  margin: 25px 0 !important;
}

.cancel-button.shadow:hover,
.green-submit.shadow:hover {
  box-shadow: 1px 1px 5px 1px rgb(126, 229, 44) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.9) !important;
  -moz-box-shadow: 1px 1px 5px 1px rgb(126, 229, 44) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.9) !important;
  -webkit-box-shadow: 1px 1px 5px 1px rgb(126, 229, 44) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.9) !important;
}

#import-roots-button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#loginform form {
  margin-bottom: 20px;
}

#loginform p {
  color: #a5acad;
}

#loginform p a {
  color:#fff;
  text-decoration: none;
}

#loginform p a:hover {
  border-bottom: 1px dotted;
}

/* Sidebar Navigation */
/************************************************************************/
#navbar {
  background: rgb(236, 234, 226);
  font-weight: bold;
  height: 100%;
  min-height: 800px;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 200px;
  z-index: 10;
}

#logo {
  color: rgb(142,155,162);
  padding: 20px 0 0px 15px;
}

#nav {
  font-size: 14px;
  padding: 20px 0;
}

#nav ul {
  background: rgb(247,246,243) url("/images/tan_ridge.png") bottom left repeat-x;
  padding: 0 0 2px 0;
}

#nav ul li {
  background: #ece9e1 url("/images/tan_ridge.png") top left repeat-x;
  line-height: 38px;
  padding: 0 26px 0 15px;
}

#nav li#active {
  background:url("../images/sidebar-active.png") no-repeat;
  border: none;
  color: white;
  line-height: 36px;
  position: relative;
  width: 175px;
  z-index: 100;
}

#nav li#active a {
  color: white;
}

#nav li:not(#active) {
  background: #ece9e1 url("/images/tan_ridge.png") top left repeat-x;
  position: relative;
  z-index: 10;
}

#nav a:link, #nav a:hover, #nav a:focus, #nav a:visited, #nav a:active {
  color: #000;
  display:block;
  text-decoration: none;
}

#nav ul li a {
  display: block;
}

#nav ul li span {
  display: block;
  padding: 0 0 0 25px;
}

#nav li .nav_master_tree {
  background: transparent url("/images/tree-nonactive.png") left center no-repeat;
}

#nav li#active .nav_master_tree {
  background: transparent url("/images/tree-active.png") left center no-repeat;
}

#nav li .nav_profile {
  background: transparent url("/images/profile-nonactive.png") left center no-repeat;
}

#nav li#active .nav_profile {
  background: transparent url("/images/profile-active.png") left center no-repeat;
}

.icon {
  float: left;
  margin: 11px 10px 0 0;
}

.hover {
  margin: 9px 10px 0 0;
}

#nav ul li ul {
  margin: 6px 0;
}

#nav ul li ul li {
  background: rgb(247,246,243);
  color: #000;
  font-size: 12px;
  font-weight: normal;
  height: 30px;
  line-height: 32px;
  margin: 0 0 0 25px;
  overflow: hidden;
  padding: 0px;
}

#nav li#active ul li a{
  color:#000;
}

#nav li#active ul li a:hover {
  color:#555;
}

#nav ul li#active ul li.active a{
  color:rgb(58, 114, 24);
  font-weight: bold;
}

#nav ul li ul, #nav ul li:first-child, #nav ul li#active ul li:first-child {
  border-top:none;
  border-bottom:none;
}

#nav ul li ul, #nav ul li ul li, #nav li:not(#active) ul li  {
  background: none !important; /*not sure why this needs important. better solution welcomed.*/
}

/* Main Tree Structure */
/************************************************************************/
.tree-column {
  float: left;
  height: 93%;
  width: 49%;
  min-width: 480px;
}

.tree-background {
  background: #FFF;
  border: 0 solid #FFF;
  height: 100%;
  min-height: 700px;
  width: 100%;
}

#treewrap-left {
  margin: 12px 20px 12px 40px;
}

#treewrap-right {
  height: 90%;
  margin: 12px 20px 12px 20px;
}

#tree-container {
}

.tree-nav {
  font-size: 12px;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.tree-nav ul {
  height: 40px;
  padding: 13px 0px;
}

.tree-nav li {
  background: #fcffff;
  background: -moz-linear-gradient(100% 100% 90deg, rgb(176, 176, 176),rgb(252, 255, 255));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(252, 255, 255)), color-stop(1, rgb(176, 176, 176)));
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -moz-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -webkit-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  display:inline;
  margin: 0 5px;
  padding: 8px 10px;
}

.tree-nav li a, .tree-nav li a:visited, .tree-nav li a:active {
  color:black;
  font-weight:bold;
  text-decoration: none;
}

.tree-nav li:hover {
  background: #fcffff;
  background: -moz-linear-gradient(100% 100% 90deg, rgb(252, 255, 255),rgb(176, 176, 176));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(176, 176, 176)), color-stop(1, rgb(252, 255, 255)));
  box-shadow: 1px 1px 5px 1px rgb(255, 255, 255) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -moz-box-shadow: 1px 1px 5px 1px rgb(255, 255, 255) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -webkit-box-shadow: 1px 1px 5px 1px rgb(255, 255, 255) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
}

#add-node-wrap {
  position: relative;
}

#add-node {
  background: #cfd3d7;
  background: -moz-linear-gradient(center bottom, rgb(208,212,215) 0, rgb(241,246,249) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,212,215)), color-stop(1, rgb(241,246,249)));
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  height: 14px;
  padding: 6px 14px 6px 10px;
  margin: 0;
}

#add-node:hover {
  cursor: pointer;
  background: #dde0e4;
  background: -moz-linear-gradient(center bottom, rgb(208,212,215) 0, rgb(255,255,255) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,212,215)),color-stop(1, rgb(255,255,255)));
}

#add-node:active {
  position: relative;
  top: 1px;
}

#add-node a {
  background: url("../images/add-node.png") 0 2px no-repeat;
  color: #222;
  padding: 0 0 0 20px;
  text-decoration: none;
}

#master-tree {
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  height:100%;
  min-height:600px;
  overflow-y:auto;
}

.master_trees-show #content {
  background: url("/images/middle_divider.png") top center repeat-y;
}

.jstree ul,
.jstree-default.jstree-focused {
  height: 100% !important;
}

#publish-wrap {
  margin-top:-50px;
  position:relative;
  width:48%;
}

#publish {
  min-width: 130px;
  position: absolute;
  right: 0;
  top: 0;
}

#publish a {
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(164,164,164)), color-stop(1, rgb(232,232,232)));
  background: -moz-linear-gradient(center bottom, rgb(164,164,164) 0%,rgb(232,232,232) 100%);
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  display: block;
  font-size: 1em;
  padding: 8px 15px;
}

/* Tree Scrolling */
/************************************************************************/
.tree-background {
  position: relative;
}

#add-node-wrap,
.reference_tree_container {
  position: absolute;
  top: 82px;
  right: 0;
  bottom: 20px;
  left: 0;
  overflow: auto;
}

/* Tab Bar */
/************************************************************************/
.tab-wrap {
  margin: 20px 0 0;
  position: relative;
}

.tab-wrap ul {
  margin: 10px 0;
}

.tab-wrap li {
  background:rgb(206,202,187);
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  display: inline;
  padding: 14px;
}

.tab-wrap li.active {
  background:rgb(236, 234, 226);
}

.breadcrumbs, .metadata-header {
  background: #babfc3;
  border-radius:         6px 6px 0 0;
  -moz-border-radius:    6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-box-shadow:    0 1px 0 #dee4e8 inset;
  -webkit-box-shadow: 0 1px 0 #dee4e8 inset;
  box-shadow:         0 1px 0 #dee4e8 inset;
  border-bottom: 1px solid #dadddf;
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.breadcrumbs ul {
  padding:10px 10px;

  border-bottom: 1px solid #868d92;
}

.breadcrumbs ul li {
  background: transparent url(/images/angle.png) right 3px no-repeat;
  display: inline-block;
  padding: 0 12px 0 1px;
  line-height: 20px;
  font-size: .9em;
  color: #232323;
 text-shadow: 0 1px 0 #dadee2;
}

.breadcrumbs ul li:last-child {
  background: none;
}

.breadcrumbs p,
.infobox .title legend {
  font-size:12px;
}


.breadcrumbs li a {
  text-decoration: none;
}

.breadcrumbs li a:hover {
  border-bottom: 1px dotted #000;
}

.breadcrumbs .close-tab {
  bottom: 32px;
  cursor: pointer;
  float: right;
  padding: 4px 5px;
  position: relative;
  right: 9px;
  background: #cfd3d7;
   background:
   -webkit-gradient(
       linear,
       left bottom,
       left top,
       color-stop(0, rgb(208,212,215)),
       color-stop(1, rgb(241,246,249))
   );
   background:
   -moz-linear-gradient(
       center bottom,
       rgb(208,212,215) 0,
       rgb(241,246,249) 100%
   );

   border-radius:         5px;
   -moz-border-radius:    5px;
   -webkit-border-radius: 5px;
   box-shadow:         0 1px 2px   rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255) inset;
   -moz-box-shadow:    0 1px 2px   rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255) inset;
   -webkit-box-shadow: 0 1px 2px   rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255) inset;
}

.breadcrumbs .close-tab:hover {
  background: #dde0e4;
    background:
    -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(208,212,215)),
        color-stop(1, rgb(248,253,255))
    );
    background:
    -moz-linear-gradient(
        center bottom,
        rgb(208,212,215) 0,
        rgb(248,253,255) 100%
    );
}



.searchbar, .controls {
  background: #babfc3;
  border-bottom: 1px solid #8c9195;
  padding: 6px 10px 0 10px;
  height: 32px;
}

.searchbar a {
  color: rgb(51,51,51);
  text-decoration: none;
}

.searchbar .grid-button,
.controls .tree-btn {
  display: block;
  float: left;
  padding: 6px 9px;
  margin: 0 10px 0 0;
  background: #d4d7da;
  -moz-box-shadow:    0 1px 2px rgba(0,0,0,.7);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.7);
  box-shadow:         0 1px 2px rgba(0,0,0,.7);
  border-radius:         6px;
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e2e4), to(#bbc0c4));
  background-image: -moz-linear-gradient(top,                  #e0e2e4,     #bbc0c4);
  font-weight: bold;
  font-size: .9em;
}


.searchbar .grid-button:hover,
.controls .tree-btn:hover {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f4f5), to(#bbc0c4));
  background-image: -moz-linear-gradient(top,                  #f2f4f5,     #bbc0c4);
}

.searchbar .grid-button:active,
.controls .tree-btn:active {
  position: relative;
  top: 1px;
}

.grid-button .icon {
  margin: 8px 8px 0 0;
}

#searchform {
  float: right;
}

#search {
  border: 0 solid #fff;
  box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6) inset;
  -moz-box-shadow: 0 1px 2px 1px rgba(26, 26, 26, 0.6) inset;
  -webkit-box-shadow: 0 1px 2px 1px rgba(26, 26, 26, 0.6) inset;
  min-width: 50px;
  padding: 6px;
}

.controls {
  border-top: 0px;
}

.node-metadata {
  background: #fff;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  top: auto;
  bottom: 0;
  margin: 10px 0 0 0;
  position: absolute;
  width: 100%;
  display: none;
}

.node-metadata h3 {
  background: #BABFC3;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  text-shadow: #DADEE2 0px 1px 0px;
}

.metadata-section {
  background: #BABFC3;
  border-top: 1px solid #dadddf;
  margin: 0;
  padding: 0;
}

.node-metadata h4 {
  float: left;
  margin: 0;
  padding: 10px 0 0 0;
  text-shadow: #DADEE2 0px 1px 0px;
  width: 23%;
}

.metadata-section:last-child {
  border-radius: 0 0 0 8px;
  -moz-border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
}

.node-metadata h4 span {
  padding: 0 10px;
}

.node-metadata ul {
  background: #fff;
  float: left;
  padding: 0 0 5px 0;
  width: 77%;
}

.node-metadata ul li {
  background: #cdd3d7;
  border-radius: 8px;
  float: left;
  margin: 6px 5px 0 5px;
  padding: 5px 8px;
}


/* Master Tree Metadata Back */
/************************************************************************/
.tree-back-wrap {
  background: #eef1f3;
  border: 0px;
  height: 100%;
  min-height: 400px;
  width: 100%;
}

.dark {
  background: #eef1f3;
}

.tree-back {
  overflow: hidden;
  padding: 10px 15px 20px;
}

.metadata-header {
  border-bottom: 1px solid rgb(176, 173, 163);
  color: #444;
}

.metadata-header h2 {
  padding: 16px;
}

#tree-metadata label {
  float: left;
  font-weight: bold;
  margin: 15px 0 10px;
  width: 100%;
}

#tree-metadata .cancel-button,
#tree-metadata .green-submit {
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color:#fff;
  font-size: 15px;
  font-weight: bold;
  float: left;
  height: auto;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  -moz-box-shadow:    0 1px 2px rgba(0,0,0, 1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 1);
  box-shadow:         0 1px 2px rgba(0,0,0, 1);


  width: auto;
}

#tree-metadata .green-submit{
  background: #5aa52b;
  background: -webkit-gradient(linear,left bottom,left top,
              color-stop(0.04, rgb(27,112,4)),
              color-stop(0.58, rgb(90,165,43)),
              color-stop(0.98, rgb(144,207,76)));
  background: -moz-linear-gradient(center bottom,
              rgb(27,112,4) 4%,
              rgb(90,165,43) 58%,
              rgb(144,207,76) 98%);
  box-shadow:         0 1px 3px rgba(0,0,0, 0.6), 0 1px 0 rgb(255,255,255,.4) inset;
  -moz-box-shadow:    0 1px 3px rgba(0,0,0, 0.6), 0 1px 0 rgb(255,255,255,.4) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.6), 0 1px 0 rgb(255,255,255,.4) inset;
  padding: 10px 30px;
}

#tree-metadata .cancel-button{
  background: #cecabb;
  background: -moz-linear-gradient(100% 100% 90deg, #CECABB,#ECEAE2);
  background: -webkit-gradient(linear,left bottom,left top,
              color-stop(0.04, #CECABB),
              color-stop(0.98, #ECEAE2));
  -moz-box-shadow:    0 1px 2px rgba(0,0,0, 1);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 1);
  box-shadow:         0 1px 2px rgba(0,0,0, 1);
  color: #222;
  margin-left: 15px;
  padding: 12px 30px 11px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

#tree-metadata fieldset input, #tree-metadata fieldset textarea {
  background: #fff;
  border: 1px solid #c1c1c1;
  border-top-color: #a8a8a8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left;
  padding: 0 10px;
  width: 95%;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
}

#tree-metadata fieldset input {
  padding: 6px;
}

#tree-metadata fieldset textarea {
  display: block;
  height: 70px;
  padding: 10px;
  resize: none;
}

/* Tree New Import */
/************************************************************************/
#tree-newimport ul {
  margin: 0 15px;
  padding: 0px;
  /*width: 400px;*/
}

#tree-newimport ul li {
  background: #e6e4dd;
  background: rgb(230,228,221);
  background: -moz-linear-gradient(center bottom, rgb(230,228,221) 0%, rgb(255,255,255) 50%);
  margin: 20px 0;
  /*width: 400px;*/
}

#tree-newimport ul li .content {
  float: left;
  padding: 0 0 0 65px;
}

#tree-newimport ul li h1 {
  margin: 0;
  padding: 5px 0;
}

#tree-newimport ul li.gnaclr-search h1 {
  padding: 10px 0 0 10px;
}

#tree-newimport ul li p {
  color:#555;
  margin:5px 0;
  padding:0;
}

#tree-newimport ul li.gnaclr-search p {
  margin: 5px 0 0 10px;
}

#tree-newimport ul li input {
  font-size: 16px;
  margin: 10px 4% 14px 2%;
  padding: 8px 5px;
  width: 94%;
}

#tree-newimport ul li p.text-label a {
  text-decoration: underline;
}

#tree-newimport a:link, #tree-newimport a:hover, #tree-newimport a:active, #tree-newimport a:visited {
  color: black;
  text-decoration: none;
}

#tree-newimport .btn-img {
  float: left;
  margin: 10px 0 10px 6px;
  width: 400px;
}

#tree-newimport .btn-img:hover {
  cursor: pointer;
}

#tree-newimport .result {
  min-height: 45px;
  width: 100%;
}

#tree-newimport .result:hover {
}

#tree-newimport .search {
  background: url("../images/search.png") no-repeat;
}

#tree-newimport .search:hover {
  background: url("../images/search-hover.png") no-repeat;
}

#tree-newimport .upload {
  background: url("../images/upload.png") no-repeat;
}

#tree-newimport .upload:hover {
  background: url("../images/upload-hover.png") no-repeat;
}

#tree-newimport .browse {
  background: url("../images/browse.png") no-repeat;
}

#tree-newimport .browse:hover {
  background:url("../images/browse-hover.png") no-repeat;
}

#tree-newimport .flat-list {
  background: url("../images/flat-list.png") no-repeat;
}

#tree-newimport .flat-list:hover {
  background: url("../images/flat-list.png") 0 -52px no-repeat;
}

#tree-newimport ul.list {
  margin: 0;
}

#tree-newimport ul.list li:hover {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(center bottom, rgb(230,228,221) 0%, rgb(255,255,255) 50%);
}

#tree-newimport ul.list li {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 0px;
  -webkit-box-shadow: 0 0px 0 0px !important;
  -moz-box-shadow: 0px;
  border-bottom: 1px solid rgb(176, 173, 163);
  min-height:60px;
  margin: 0;
  width: 100%;
}

#tree-newimport ul.list li:first-child {
  border-top: 0 solid rgb(176, 173, 163);
}

#tree-newimport ul.list li:last-child {
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

#tree-newimport .result .content {
  padding: 0 12px !important;
}

#gnaclr-description {
  padding: 12px 15px;
}

#gnaclr-description p {
  margin: 5px 0;
}

#tree-revisions {
  border-bottom: 1px solid #c8cacc;
  border-top: 1px solid #c8cacc;
  margin: 5px 15px 15px 15px;
  padding: 10px 0 0 0;
}

#tree-revisions h3 {
  font-size: 14px;
}

#tree-revisions input {
  margin-left: 20px;
}

ul#revisions {
  margin: 12px 0 0 0;
  width: auto;
}

ul#revisions li {
  background: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 0 8px 0;
  padding: 4px 0;
}

ul#revisions li input[type="radio"] {
  width: auto;
  margin: 6px 8px 10px 0;
  float: left;
}

ul#revisions li p.revision-number {
  color: #111;
  font-weight: bold;
  margin: 0 0 4px 20px;
}

ul#revisions li span.revision-message {
}

ul#revisions li p.date {
  font-weight: normal;
  margin: 0 0 0 20px;
}

ul#revisions li:hover {
  background: none;
}

#import-flat-list{
  margin: 20px 20px 10px;
}

#import-flat-list textarea {
  border:1px solid rgb(176, 173, 163);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding:10px;
  width: 97%;
  max-width: 97%;
}

/* Master Tree List */
/************************************************************************/
#header .tree_list_header {
  position: relative;
}

#header .tree_list_header_inner {
  width: 635px;
}

#header .tree_list_header h1 {
  float: left;
  font-size: 1em;
  padding: 0;
}

#treelist h1 {
  text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

#treelist{
  margin: 20px 40px 0;
  width: 640px;
}

#treelist li h3 {
  font-size: 1.3em;
  margin: 0 0 8px 0;
  padding: 0;
}

ul#treelist {
  padding: 0;
}

ul#treelist li {
  margin: 0 0 10px 0;
}

ul#treelist li a {
  background: #BABFC3 url("/images/master_tree_icon.png") left center no-repeat;
  background: url("/images/master_tree_icon.png") left center no-repeat, -moz-linear-gradient(19% 75% 90deg,#919598, #BABFC3);
  background: url("/images/master_tree_icon.png") left center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BABFC3), to(#919598));
  border-top: 1px solid rgba(255,255,255,.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  padding: 12px 15px 12px 52px;
}

ul#treelist li a:hover {
  background: #ccd0d4;
  background: url("/images/master_tree_icon.png") left center no-repeat, -moz-linear-gradient(19% 75% 90deg,#919598, #ccd0d4);
  background: url("/images/master_tree_icon.png") left center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd0d4), to(#919598));
}

ul#treelist li a:active {
  position: relative;
  top: 1px;
}

ul#treelist li p {
  display: none;
  font-size: .95em;
  line-height: 1.4;
  margin: 3px 0;
}

ul#treelist a:link,
ul#treelist a:visited,
ul#treelist a:active,
ul#treelist a:hover,
#newtree a:link,
#newtree a:hover,
#newtree a:active,
#newtree a:visited,
#publish a:link,
#publish a:hover,
#publish a:active,
#publish a:visited {
  color: black;
  text-decoration: none;
}

.date-wrap {
  margin: 5px 0 10px;
  padding: 0;
}

.date-wrap .date, .date-wrap .author {
  color: #393d3f;
  display: inline-block;
  float: left;
  font-size: .9em;
  font-weight: normal;
  margin-right: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

.date-wrap .date strong {
  color: #232323;
}

#newtree {
  display: block;
  float: right;
  position: relative;
  top: -5px;
}

#newtree a {
  background: #a4a4a4;
  background: -moz-linear-gradient(center bottom, rgb(164,164,164) 0%,rgb(232,232,232) 100%);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(164,164,164)),color-stop(1, rgb(232,232,232)));
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  font-size: 12px;
  display: block;
  padding: 8px 15px;
}

#newtree a:hover, #publish a:hover {
  background: -moz-linear-gradient(center bottom,rgb(164,164,164) 0%,rgb(250,250,250) 100%);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(164,164,164)),color-stop(1, rgb(250,250,250)));
  display: block;
}

#newtree a:active, #publish a:active {
  position: relative;
  top: 1px;
}

#newtree span {
  color: #232323;
  display: block;
  font-size: 12px;
  padding: 0;
}

#newtree .content {
  padding: 0;
}

/* Flash Notices */
/************************************************************************/
#flash-login-wrap {
  margin: 0 0 30px 0;
}

#flash_error, #flash_success, #flash_failure, #flash_notice {
  background: #fff;
  border: 0px;
  color: #fff;
  font-weight: bold;
  margin: 15px 40px 15px;
  padding: 15px;
}

#flash_success, #flash_notice {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgba(98,161,38,0.6) 0%, rgba(98,161,38,0.6) 54%, rgba(30,117,5,0.6) 100%);
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.0, rgba(98,161,38,0.6)), color-stop(0.54, rgba(98,161,38,0.6)), color-stop(1.0, rgba(30,117,5,0.6)));
  box-shadow: 0 0 0 1px rgb(21,74,6);
  -moz-box-shadow: 0 0 0 1px rgb(21,74,6);
  -webkit-box-shadow: 0 0 0 1px rgb(21,74,6);
}

#flash_error, #flash_failure {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgba(187,12,12,0.5) 0%, rgba(187,12,12,0.5) 54%, rgba(138,5,5,0.5) 100%);
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.0, rgba(187,12,12,0.5)), color-stop(0.54, rgba(187,12,12,0.5)), color-stop(1.0, rgba(138,5,5,0.5)));
  box-shadow: 0 0 0 1px rgb(126,1,1);
  -moz-box-shadow: 0 0 0 1px rgb(126,1,1);
  -webkit-box-shadow: 0 0 0 1px rgb(126,1,1);
}

#flash-wrapper {
  width: 50%;
}

#flash_image_success {
  background-image: url("../images/flash-success.png");
}

#flash_image_failure {
  background-image: url("../images/flash-failure.png");
}

#flash_image_success, #flash_image_failure {
  height: 16px;
  float: left;
  margin-right: 10px;
  margin-top: -2px;
  width: 16px;
}

/* Tabs */
/************************************************************************/
.ui-tabs .ui-tabs-hide {
  display: none;
}

.ui-tabs .ui-tabs-panel, .ui-tabs {
  padding: 0px;
}

#tab-titles #all-tabs {
  position: relative;
}

#tab-titles #import {
  float: right;
  margin-right: 3px;
}

#tab-titles #trash {
  float: right;
  margin-right: 0;
}

.no_content_message {
  padding: 20px;
  font-size: 1.3em;
  text-align: center;
}

ul#working-trees {
  background: #BABFC3;
  border: 1px solid #888;
  border-width: 0 1px 1px 0;
  left: -1px;
  padding: 15px 15px 15px 15px;
  position: absolute;
  top: 26px;
  width: 270px;
  z-index: -1;
}

.ui-tabs .ui-tabs-nav li ul#working-trees li {
  -webkit-box-shadow: none;
  clear: both;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

#treewrap-right .ui-state-default ul#working-trees li.ui-state-default {
  border-top: 0;
}

.ui-tabs .ui-tabs-nav li ul#working-trees li a {
  border-bottom: 1px solid #a0a5a8;
  cursor: pointer;
  display: block;
  padding: 8px 4px;
  width: 263px;
}

.ui-tabs .ui-tabs-nav li ul#working-trees li:first-child a {
  border-top: 1px solid #a0a5a8;
}

ul#working-trees li a:hover {
  background: #a0a5a8;
}

/* Border Radius */
/************************************************************************/
#flash_error, #flash_success, #flash_failure, #flash_notice,
ul#treelist li,  #search, .tree-background, #loginform .input, .green-submit, .cancel-button,
.infobox-wrap, .infobox, .tree-back-wrap, #tree-newimport li {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.tree-background, #treelist li, .tree-back-wrap, #tree-newimport li {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.tree-background, #treelist li, #newtree a, .tree-back-wrap  {
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.7);
  -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,.7);
  -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.7);
}

#tree-newimport li {
  box-shadow: 0 1px 3px rgba(0,0,0,.7);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.7);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

/* Text Shadow Light Highlight */
/************************************************************************/
#nav li:not(#active), #add-node p, .metadata-header h2, #tree-newimport li h2, #add-node {
  text-shadow: 0 1px 0rgba(255,255,255,0.8);
}

.spinner {
  background: #FFF url("/images/loading.gif") no-repeat center center;
  display: none;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  top: 0;
  width: 100%;
}
