/* Global Stucture */
/************************************************************************/
body {
  background: #3e4649 url("../images/background.jpg") top left repeat;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
  height: 100%;
  margin-left: 175px;
}

body.sessions #wrapper,
body.clearance-passwords #wrapper,
body.users-new #wrapper {
  margin: 0;
}

#header {
  background: rgb(35, 41, 44); /* The Fallback */
  background: rgba(11, 12, 14, 0.25);
  height: 50px;
  width: 100%;
  padding: 0;
  position:relative;
}

#header h1 {
  color:white;
  padding:15px 45px;
}

#header #master_tree_title_input {
  font-size: 14px;
  margin: 9px 0 0 40px;
  padding: 3px;
  width: 20%;
}

#header span {
  color: #fff;
  margin: 0 0 0 10px;
}

#header span.error {
  color: #d10000;
}

#fluid-head {
  color: rgb(236, 234, 226);
  height: 27px;
  margin: 0 0 0 30px;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  padding: 10px 0px;
}

h2 {
  font-size: 1.25em;
  padding: 6px 0px;
}

hr {
  background: #31373b;
  border: none;
  border-bottom: 1px solid #343a3f;
  height: 1px;
  margin: 15px 0px;
  width: 100%;
}

/* Body Content */
/************************************************************************/
#content {
  height: 100%;
  min-height: 800px;
  min-width: 1050px;
}

#bodywrap {
  color: black;
  margin: 20px 40px;
}

.infobox-wrap {
  background-color: #EEF1F3;
  float: left;
  margin: 10px 0px;
  width: 600px;
}

.infobox-wrap .title {
  background: #eceae2;
  background: -moz-linear-gradient(center bottom, rgb(184,184,184), rgb(220, 222, 222));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(236, 234, 226)), to(rgb(206, 203, 188)));
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  color:#444;
  font-weight: bold;
  height: 36px;
  padding: 0px;
  width: 100%;
}

.infobox {
  color: #000;
  padding: 10px 10px 20px;
}

.infobox p {
  padding: 10px 0 10px;
}

.infobox label {
  display: block;
  float: left;
  font-weight: bold;
  margin: 10px 10px 0 0;
  text-align: right;
  width: 120px;
}

.infobox ul li {
  margin: 15px;
}

.infobox input {
  background: #fff;
  border:1px solid rgb(199, 195, 181);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 28px;
  padding: 0 10px;
  width: 286px;
  font-size:1.25em;
}

.input {
  margin: 3px 0 10px;
}

.title p {
  line-height: 30px;
  padding: 5px 10px;
}

body form input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Login Screen */
/************************************************************************/
#loginwrap {
  margin: 0 auto;
  padding: 150px 0;
  text-align: left;
  width: 960px;
}

#loginlogo {
  float: left;
  height: 190px;
  width: 390px;
}

#loginlogo h1 {
  color: rgb(140, 140, 140);
  text-shadow: 1px 1px 0 rgba(26, 26, 26, 0.6);
  text-align:right;
  font-style:italic;
  padding-top:5px;
}

#loginform {
  float: left;
  padding: 0 20px;
}

#loginform legend {
  color: rgb(127, 196, 67);
  font-size: 1.8em;
  padding-bottom: 15px;
  text-shadow: 1px 1px 0 rgba(26, 26, 26, 0.6);
}

#loginform label {
  color: #fff;
  display: block;
  font-size:1.2em;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

#loginform label abbr {
  display: none; /*gets rid of useless asterisk*/
}

#loginform .input {
  border: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(26, 26, 26, 0.6) inset;
  color: #232323;
  font-size: 1.4em;
  margin-bottom: 12px;
  padding: 8px 10px;
  text-shadow: 0 0 1px rgba(0,0,0,.25);
  width: 380px;
}

.cancel-button, .green-submit, .green-submit-small {
  border: 0 solid rgb(15, 18, 21) !important;
  min-height: 38px;
  padding: 7px 15px !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25) !important;
  border: 0;
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 5px;
}

.green-submit-small {
  padding:5px !important;
  float:none;
  font-size:1em !important;
  height:30px;
  min-height:0px;
  margin:0px 0px 0px 5px;
  vertical-align:top;
}

.green-submit, .green-submit-small {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgb(27,112,4) 4%, rgb(90,165,43) 58%, rgb(144,207,76) 98%) !important;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.04, rgb(27,112,4)), color-stop(0.58, rgb(90,165,43)), color-stop(0.98, rgb(144,207,76))) !important;
}

.cancel-button {
  background: #FF4040;
  background: -moz-linear-gradient(center bottom, rgb(139,35,35) 4%, rgb(255,64,64) 58%, rgb(255,193,193) 98%) !important;
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.04, rgb(139,35,35)), color-stop(0.58, rgb(255,64,64)), color-stop(0.98, rgb(255,193,193))) !important;
}

.cancel-button:hover, .green-submit:hover, .green-submit-small:hover {
  cursor: pointer;
  border: 0 solid rgb(15, 18, 21) !important;
}

.green-submit:hover, .green-submit-small:hover {
  box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  -moz-box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
  -webkit-box-shadow: inset 1px 1px 5px 1px rgb(126, 229, 44), 0 1px 2px rgba(0,0,0, 1);
}

.cancel-button:hover {
  box-shadow: inset 1px 1px 5px 1px rgb(255,193,193), 0 1px 2px rgba(0,0,0, 1);
  -moz-box-shadow: inset 1px 1px 5px 1px rgb(255,193,193), 0 1px 2px rgba(0,0,0, 1);
  -webkit-box-shadow: inset 1px 1px 5px 1px rgb(255,193,193), 0 1px 2px rgba(0,0,0, 1);
}

.green-submit.shadow, .cancel-button.shadow {
  box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px 1px rgb(98,179,34) inset !important;
  -moz-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px 1px rgb(98,179,34) inset !important;
  -webkit-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.9), 1px 1px 5px 1px rgb(98,179,34) inset !important;
  margin: 25px 0 !important;
}

.green-submit.shadow:hover, .cancel-button.shadow:hover {
  box-shadow: 1px 1px 5px 1px rgb(126, 229, 44) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.9) !important;
  -moz-box-shadow: 1px 1px 5px 1px rgb(126, 229, 44) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.9) !important;
  -webkit-box-shadow: 1px 1px 5px 1px rgb(126, 229, 44) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.9) !important;
}

#import-roots-button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#loginform form {
  margin-bottom: 20px;
}

#loginform p {
  color: #bbb;
}

#loginform p a {
  color: #fff;
  text-decoration: none;
}

#loginform p a:hover {
  border-bottom: 1px dotted;
}

/* Sidebar Navigation */
/************************************************************************/
#navbar {
  background: #e6e6e6;
  font-weight: bold;
  height: 100%;
  min-height: 800px;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 175px;
  z-index: 1000;
}

#logo {
  color: rgb(142,155,162);
  padding: 20px 0 0  20px;
}

#nav {
  font-size: 14px;
  padding: 20px 0;
}

#nav ul li {
  background: #e9e9e9;
  border-bottom: 1px solid #c2c6ca;
  line-height: 38px;
  position: relative;
  z-index: 10;
}

#nav ul li:last-child {
  border-bottom: 1px solid #fff;
}

#nav a:link, #nav a:hover, #nav a:focus, #nav a:visited, #nav a:active {
  border-top: 1px solid #fff;
  color: #000;
  display: block;
  padding: 0 26px 0 15px;
  text-decoration: none;
}

#nav a:hover {
  color: #666;
}

#nav ul li:last-child a {
  border-bottom: 1px solid #c2c6ca;
}

#nav li#active {
  background: url("../images/sidebar-active.png") no-repeat;
  border: none;
  color: white;
  line-height: 36px;
  padding: 0 26px 0 15px;
  position: relative;
  width: 150px;
  z-index: 100;
}

#nav li#active a {
  border-top: 0;
  color: white;
  padding: 0;
}

#nav ul li a {
  display: block;
}

#nav ul li span {
  display: block;
  padding: 0 0 0 25px;
}

#nav li .nav_master_tree {
  background: transparent url("/images/tree-nonactive.png") left center no-repeat;
}

#nav li#active .nav_master_tree {
  background: transparent url("/images/tree-active.png") left center no-repeat;
}

#nav li .nav_profile {
  background: transparent url("/images/profile-nonactive.png") left center no-repeat;
}

#nav li#active .nav_profile {
  background: transparent url("/images/profile-active.png") left center no-repeat;
}

#nav li#active .nav_profile {
  background: transparent url("/images/profile-active.png") left center no-repeat;
}

.icon {
  float: left;
  margin: 11px 10px 0 0;
}

.hover {
  margin: 9px 10px 0 0;
}

#nav ul li ul {
  background: #fff;
  margin: 0 -9px 0 -14px;
  padding: 4px 0;
}

#nav ul li ul li {
  background: #fff;
  border: 0;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  padding: 4px 0 4px 38px;
}

#nav ul li ul li {
  line-height: 28px;
}

#nav li#active ul li a {
  border: 0;
  color: #000;
}

#nav li#active ul li a:hover {
  color: #555;
}

#nav ul li#active ul li.active a{
  color: rgb(58, 114, 24);
  font-weight: bold;
}

#nav ul li ul, #nav ul li:first-child, #nav ul li#active ul li:first-child {
  border-top: none;
  border-bottom: none;
}

#nav ul li ul, #nav ul li ul li, #nav li:not(#active) ul li  {
  /*background: none !important;*/ /*not sure why this needs important. better solution welcomed.*/
}

/* Main Tree Structure */
/************************************************************************/
.tree-column {
  float: left;
  height: 90%;
  width: 49%;
  min-width: 510px;
}

.tree-background {
  background: #fff;
  border: 0;
  min-height: 675px;
  width: 100%;
  height: 100%;
}

#treewrap-main {
  height: 90%;
  margin: 22px 20px 12px 40px;
}

#treewrap-right {
  height: 100%;
  margin: 22px 20px 12px 20px;
}

#tabs {
}

#tabs > div {
  height: 90%;
}

.tree-nav {
  font-size: 12px;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.tree-nav ul {
  height: 40px;
  padding: 13px 0px;
}

.tree-nav li {
  background: #fcffff;
  background: -moz-linear-gradient(100% 100% 90deg, rgb(176, 176, 176),rgb(252, 255, 255));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(252, 255, 255)), color-stop(1, rgb(176, 176, 176)));
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -moz-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -webkit-box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  display: inline;
  margin: 0 5px;
  padding: 8px 10px;
}

.tree-nav li a, .tree-nav li a:visited, .tree-nav li a:active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.tree-nav li:hover {
  background: #fcffff;
  background: -moz-linear-gradient(100% 100% 90deg, rgb(252, 255, 255),rgb(176, 176, 176));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(176, 176, 176)), color-stop(1, rgb(252, 255, 255)));
  box-shadow: 1px 1px 5px 1px rgb(255, 255, 255) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -moz-box-shadow: 1px 1px 5px 1px rgb(255, 255, 255) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
  -webkit-box-shadow: 1px 1px 5px 1px rgb(255, 255, 255) inset, 0 1.5px 2px 1px rgba(26, 26, 26, 0.6);
}

#add-node-wrap {
  position: relative;
}

#add-node a {
  background: #d4d7da;
  background-image: -moz-linear-gradient(top, #e0e2e4, #bbc0c4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e2e4), to(#bbc0c4));
  border: 1px solid rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.9);
  color: #222;
  font-weight: bold;
  float: right;
  margin: 0 0px 0 0;
  padding: 6px 14px 6px 10px;
  text-decoration: none;
}

#add-node a:hover {
  cursor: pointer;
  background: #dde0e4;
  background: -moz-linear-gradient(center bottom, rgb(208,212,215) 0, rgb(255,255,255) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,212,215)),color-stop(1, rgb(255,255,255)));
}

#add-node a:active {
  background: #d4d7da;
  background-image: -moz-linear-gradient(top, #c5c7c9, #a2a7ab);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c5c7c9), to(#a2a7ab));
}

#add-node a span {
  background: url("../images/add-node.png") 0 1px no-repeat;
  color: #222;
  padding: 0 0 0 20px;
}

#master-tree {
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  height: 100%;
  overflow-y: auto;
}

.jstree ul,
.jstree-default.jstree-focused {
  height: 100% !important;
}

#publish-wrap {
  margin-top:-50px;
  position:relative;
  width:48%;
}

#publish {
  min-width: 130px;
  position: absolute;
  right: 0;
  top: 0;
}

#publish a {
  background: #a4a4a4;
  background: -moz-linear-gradient(center bottom, rgb(164,164,164) 0%,rgb(232,232,232) 100%);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(164,164,164)), color-stop(1, rgb(232,232,232)));
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  display: block;
  font-size: 1em;
  padding: 8px 15px;
}

/* Tree Scrolling */
/************************************************************************/
.tree-background {
  position: relative;
}

#add-node-wrap, .reference-tree-container, .deleted-tree-container {
  position: absolute;
  top: 75px;
  right: 0;
  bottom: 20px;
  left: 0;
  overflow: auto;
}

/* Tab Bar */
/************************************************************************/
.tab-wrap {
  margin: 20px 0 0;
  position: relative;
}

.tab-wrap ul {
  margin: 10px 0;
}

.tab-wrap li {
  background: rgb(206,202,187);
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  display: inline;
  padding: 14px;
}

.tab-wrap li.active {
  background: rgb(236, 234, 226);
}

/* BREADCRUMBS ABOVE TREE */
.breadcrumbs, .metadata-header {
  background: #babfc3;
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-box-shadow: 0 1px 0 #dee4e8 inset;
  -webkit-box-shadow: 0 1px 0 #dee4e8 inset;
  box-shadow: 0 1px 0 #dee4e8 inset;
  border-bottom: 1px solid #dadddf;
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.breadcrumbs ul {
  padding: 8px 10px 8px 10px;
  border-bottom: 1px solid #868d92;
}

.breadcrumbs ul li {
  background: transparent url("/images/angle.png") right 3px no-repeat;
  color: #232323;
  display: inline-block;
  font-size: .9em;
  line-height: 20px;
  padding: 0 12px 0 1px;
  text-shadow: 0 1px 0 #dadee2;
}

.breadcrumbs ul li:last-child {
  background: none;
}

.breadcrumbs p,
.infobox .title legend {
  font-size:12px;
}

.breadcrumbs li a {
  text-decoration: none;
}

.breadcrumbs li a:hover {
  border-bottom: 1px dotted #000;
}

.breadcrumbs .close-tab {
  bottom: 32px;
  cursor: pointer;
  float: right;
  padding: 4px 5px;
  position: relative;
  right: 9px;
  background: #cfd3d7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,212,215)), color-stop(1, rgb(241,246,249)));
  background: -moz-linear-gradient(center bottom, rgb(208,212,215) 0, rgb(241,246,249) 100%);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.7), 0 1px 0 rgb(255, 255, 255) inset;
}

.breadcrumbs .close-tab:hover {
  background: #dde0e4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(208,212,215)), color-stop(1, rgb(248,253,255)));
  background: -moz-linear-gradient(center bottom, rgb(208,212,215) 0, rgb(248,253,255) 100%);
}

/* TOOLSBAR ABOVE TREES */
.ddsmoothmenu {
  width: 100%;
}

.ddsmoothmenu ul {
  z-index:100;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ddsmoothmenu ul li {
  position: relative;
  display: inline;
  float: left;
  min-width: 60px;
  line-height: 1.25em;
}

.ddsmoothmenu ul li span {
  position:absolute;
  right:3px;
  top:5px;
}

.ddsmoothmenu ul li.divider-after {
  border-bottom:1px solid #e0e0e0; margin:0;
}

.ddsmoothmenu ul li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color:#232323;
  height:1.15em;
}

.ddsmoothmenu ul li a.nav-add-node { background: transparent url(../images/icons/page_white_add.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-add-node-bulk { background: transparent url(../images/icons/page_white_add_bulk.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-publish-tree { background: transparent url(../images/icons/book_go.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-edit-tree { background: transparent url(../images/icons/page_white_edit.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-delete-tree { background: transparent url(../images/icons/bin_closed.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-edit-node { background: transparent url(../images/icons/page_white_edit.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-undo { background: transparent url(../images/icons/arrow_undo.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-redo { background: transparent url(../images/icons/arrow_redo.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-cut-node { background: transparent url(../images/icons/cut.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-paste-node { background: transparent url(../images/icons/page_white_paste.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-delete-node { background: transparent url(../images/icons/bin_closed.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-refresh-node { background: transparent url(../images/icons/arrow_refresh_small.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-bookmarks-add { background: transparent url(../images/icons/asterisk_yellow_add.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-bookmarks-view { background: transparent url(../images/icons/asterisk_yellow.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-edit-history { background: transparent url(../images/icons/table.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-refresh-tree { background: transparent url(../images/icons/arrow_refresh.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-collapse-tree { background: transparent url(../images/icons/door.png) no-repeat 5px center; }
.ddsmoothmenu ul li a.nav-tools-merge { background: transparent url(../images/icons/arrow_join_down.png) no-repeat 5px center; }

* html .ddsmoothmenu ul li a {
  display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
}

.ddsmoothmenu ul li a.selected {
    background-color:#BABFC3; 
}

.ddsmoothmenu ul li a:hover {
    background-color:#BABFC3;
}
    
/* 1st sub level menu */
.ddsmoothmenu ul li ul {
  position: absolute;
  left: 0;
  display: none;
  visibility: hidden;
  z-index:1000;
  border: 1px solid #868D92;
  background-color:#EEF1F3;
}

.ddsmoothmenu ul li ul li {
  display: list-item;
  float: none;
}

.ddsmoothmenu ul li ul li ul {
  top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
  min-width: 160px;
  padding: 5px;
  padding-left:25px;
  margin: 0;
  border-top-width: 0;
}

* html .ddsmoothmenu { height: 1%; }

.downarrowclass {
  position: absolute;
  top: 12px;
  right: 7px;
}

.rightarrowclass {
  position: absolute;
  top: 6px;
  right: 5px;
}

.ddshadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background: silver;
}

/* SEARCHBAR ABOVE TREES */
.searchbar {
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  position:absolute;
  top:0px;
  right:15px;
  padding:3px;
  background-color:#FFF;
  margin:5px;
  width:175px;
  height:15px;
  border:1px solid #AAA;
}

.searchbar input {
  width:150px;
  border:medium none;
  float:left;
  vertical-align:middle;
  margin:0px;
}

.searchbar .searchicon {
  background-image: url("../images/icons/magnifier.png");
  background-repeat:no-repeat;
  background-position:right center;
  width:16px;
  height:16px;
  float:right;
}

.pointer {
    cursor: pointer;
}

.searchbar-dropdown {
  position:absolute;
  right:4px;
  top:0px;
  margin:0px;  
}

.searchbar-dropdown span.searchbar-view {
  display:block;
  width:15px;
  height:32px;
  background-repeat:no-repeat;
  background-position:right center;
  background-image: url("../images/down.gif");  
}

.searchbar-dropdown span.expanded {
  width:80px;
}

.searchbar-results {
    display:none;
    -moz-box-shadow: 0px 5px 5px #AAAAAA;
    -webkit-box-shadow:#AAAAAA 0px 5px 5px;
    box-shadow:#AAAAAA 0px 5px 5px;
    background-color: #EEF1F3;
    border: 1px solid #868D92;
    min-height:200px;
    max-height:200px;
    overflow-y:auto;
    padding-right:20px;
    position:absolute;
    top:29px;
    right:-5px;
    width:350px;
    z-index:100;
    cursor:normal;
    padding:5px;
}

.searchbar-results span.highlight {
  font-weight:bold;
  background-color:#FFFF00;
}

.bookmarks-results {
    min-height:200px;
    max-height:200px;
    overflow-y:auto;
}

* html .searchbar-results, * html .bookmarks-results {
    height:200px;
}

.searchbar-results ul {
    margin: 0.5em 0 0em 1.5em;
    text-indent: -1.5em;
    line-height:16px;
    display:block !important;
    float:none !important;
}

.bookmarks-results ul {
  margin: 0 0 0 1.5em;
  text-indent: -1.5em;
}

.bookmarks-results ul li {
  margin-bottom: 0.5em;
  line-height:1.25em;
}

.bookmarks-results ul li div.bookmarks-input {
  display:none;
}

.searchbar-results ul li a, .bookmarks-results ul li a {
    text-decoration:none;
    color:#232323;
    display:inline;
    padding:0px;
}

.searchbar-results ul li a:hover, .bookmarks-results ul li a:hover {
    background-color:#BABFC3;
}

.searchbar-results div.results-message, .bookmarks-results div.results-message {
    margin-top:10px;
    font-style:italic;
    text-align:right;
}

.bookmarks-results ul li span {
  margin-left:5px;
}

.bookmarks-results ul li a.bookmarks-edit, .bookmarks-results ul li a.bookmarks-save {
  color:green;
}

.bookmarks-results ul li a.bookmarks-delete, .bookmarks-results ul li a.bookmarks-cancel {
  color:red;
}

.bookmarks-results .bookmarks-input .input {
  height:1.5em;
  width:200px;
  border: 1px solid #C7C3B5;
  padding:3px;
  margin:0px;
}

.bookmark-addition {
  display:none;
  overflow:hidden !important;
  height:70px !important;
}

.bookmark-addition .input {
  font-size: 16px;
  margin: 10px 4% 14px 2%;
  padding: 8px 5px;
  width: 80%;
  border: 1px solid #C7C3B5;
}

.bookmark-addition label {
  font-weight: bold;
}

.toplevelshadow {
  opacity: 0.8;
}

.toolbar, .controls {
  background: #babfc3;
  border-bottom: 1px solid #8c9195;
  height: 32px;
}

.toolbar {
  position:relative;
}

.toolbar .grid-button a,
.controls .tree-btn a,
.toolbar .grid-button input[type="submit"],
.toolbar .grid-button input[type="button"] {
  background: #bbc0c4;
  background: -moz-linear-gradient(top, #e0e2e4, #bbc0c4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e2e4), to(#bbc0c4));
  border: 1px solid rgba(50, 50, 50, 0.4);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.9);
  -moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.9);
  color: #333;
  display: block;
  float: left;
  font-weight: bold;
  font-size: .9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 10px 0 0;
  padding: 6px 9px;
  text-decoration: none;
}

.toolbar .grid-button input[type="submit"],
.toolbar .grid-button input[type="button"] {
  height: 25px;
  padding: 4px 9px;
}

.toolbar .grid-button a:hover,
.controls .tree-btn a:hover {
  background: #d3d9de;
  background: -moz-linear-gradient(top, #f7fafc, #d3d9de);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7fafc), to(#d3d9de));
}

.toolbar .grid-button a:active,
.controls .tree-btn a:active {
  background: #a2a7ab;
  background: -moz-linear-gradient(top, #c5c7c9, #a2a7ab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c5c7c9), to(#a2a7ab));
}

.toolbar a {
  /*color: rgb(51,51,51);*/
}

.grid-button .icon {
  margin: 8px 8px 0 0;
}

#bulkcreate-form {
  display:none;
}

#bulkcreate-form label {
  display: block;
  font-weight: bold;
  font-size:1.25em;
  padding:6px 0;
}

#bulkcreate-form textarea {
  font-size:1.25em;
  border: 1px solid #B0ADA3;
  border-radius: 6px 6px 6px 6px;
  margin: 0 0 16px;
  max-width: 97%;
  padding: 10px;
  width: 95%;
}

#searchform {
  float: right;
}

#gnaclr-search {
  border: 0 solid #fff;
  box-shadow: 0 1.5px 2px 1px rgba(26, 26, 26, 0.6) inset;
  -moz-box-shadow: 0 1px 2px 1px rgba(26, 26, 26, 0.6) inset;
  -webkit-box-shadow: 0 1px 2px 1px rgba(26, 26, 26, 0.6) inset;
  min-width: 50px;
  padding: 6px;
}

.controls {
  border-top: 0px;
}

.node-metadata {
  background: #fff;
  border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  bottom: 0;
  display: none;
  margin: 10px 0 0 0;
  position: absolute;
  top: auto;
  width: 100%; 
}

.metadata-section {
  background: #BABFC3;
  border-top: 1px solid #dadddf;
  margin: 0;
  padding: 0;
}

.node-metadata h4 {
  float: left;
  margin: 0;
  padding: 10px 0 0 0;
  text-shadow: #DADEE2 0  1px 0px;
  width: 20%;
}

.node-metadata h4 span {
  padding: 0 10px;
}

.node-metadata ul {
  background: #fff;
  float: left;
  padding: 0 0 5px 0;
  width: 80%;
}

.node-metadata ul li {
  background: #cdd3d7;
  border-radius: 8px;
  float: left;
  margin: 6px 5px 0 5px;
  padding: 5px 8px;
}

/* Dialog message */
#dialog-message p {
  line-height:1.5em;
}

/* Merge dialg */
/************************************************************************/
#merge-form {
  text-align:center;
  margin:10px 0px 20px 0px;
}

#merge-form div.merge-column {
  float:left;
  width:49%;
}

#merge-form p {
  font-style:italic;
  margin-bottom:10px;
}

/* GNACLR Search results */
/************************************************************************/
div.tabbed-subnav {
  padding: 10px;
}

div.tabbed-subnav ul.tabbed-header li {
  float: left;
  margin: 0 4px 0 0;
  width: 140px;
}

div.tabbed-subnav ul.tabbed-header li a {
  background: #BABFC3;
  border-radius: 5px 5px 0 0;
  display: block;
  font-weight: bold;
  padding: 8px 8px 6px 8px;
  text-decoration: none;
}

div.tabbed-subnav ul.tabbed-header li.active a {
  background: #d0d6db;
}

div.tabbed-subnav ul.tabbed-header li a div.count {
  display: inline;
  float: right;
  font-weight: bold;
}

div.tabbed-subnav div.tabbed-panel p {
  margin:10px;
  font-style:italic;
  text-align:left;
}

.search-text {
  background: #d0d6db;
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  padding: 10px;
}

.search-text h3 {
  font-size: 14px;
  margin: 0 0 6px 0;
}

.search-text ul.classifications li {
  border-bottom: 1px solid #b8bdc2;
  font-size: 13px;
  margin: 0 0 18px 0;
  padding: 0 0 18px 0;
}

.search-text ul.classifications li:last-child {
  border-bottom: 0;
  margin: 0;
}

div.title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 4px 0;
}

div.description {
  color: #666;
  margin: 0 0 12px 0;
}

ul.classifications table {
  margin-bottom: 4px;
}

ul.classifications table tr {
  border-bottom: 1px solid #e9eff5;
}

ul.classifications table tr:last-child {
  border: none;
}

ul.classifications table tr td {
  padding: 6px 0;
  line-height: 130%;
}

ul.classifications table tr td.label {
  font-weight: bold;
  padding: 0 10px 0 0;
  text-align: right;
}

.search-text ul.authors {
  margin: 0;
  padding: 0;
}

.search-text ul.authors li {
  border: 0;
  margin: 0 0 2px 0;
  padding: 0;
}

.search-text ul.authors li .name {
  margin: 0;
  padding: 0;
}

ul.classifications div.import-button {
  text-align: right;
}

.search-text button.import {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgb(27,112,4) 4%, rgb(90,165,43) 58%, rgb(144,207,76) 98%);
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.04, rgb(27,112,4)), color-stop(0.58, rgb(90,165,43)), color-stop(0.98, rgb(144,207,76)));
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.6), 0 1px 0 rgb(255,255,255,.4) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.6), 0 1px 0 rgb(255,255,255,.4) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.6), 0 1px 0 rgb(255,255,255,.4) inset;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
  text-shadow: 0 -1px 1px #2c5015;
}

/* Master Tree Metadata Back */
/************************************************************************/
.tree-back-wrap {
  background: #eef1f3;
  border: 0px;
  height: 100%;
  min-height: 400px;
  width: 100%;
}

.dark {
  background: #eef1f3;
}

.tree-back {
  overflow: hidden;
  padding: 10px 15px 20px;
}

.metadata-header {
  border-bottom: 1px solid rgb(176, 173, 163);
  color: #444;
}

.metadata-header h2 {
  padding: 16px;
}

#tree-metadata label {
  float: left;
  font-weight: bold;
  margin: 15px 0 10px;
  width: 100%;
}

#tree-metadata fieldset input[type="text"] {
  border: 1px solid #c1c1c1;
  border-top-color: #a8a8a8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  font-size:1.25em;
  padding:5px;
}

#tree-metadata fieldset textarea {
  background: #fff;
  border: 1px solid #c1c1c1;
  border-top-color: #a8a8a8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
  float: left;
  padding: 0 10px;
  width: 95%;
  font-size:1.25em;
  font-family: Helvetica,Arial,sans-serif;
}

#tree-metadata fieldset textarea {
  display: block;
  height: 70px;
  padding: 10px;
  resize: none;
}

/* Tree New Import */
/************************************************************************/
#tree-newimport ul {
  margin: 0 15px;
  padding: 0px;
}

#tree-newimport ul li {
  background: #E0E2E4;
  background: -moz-linear-gradient(0% 100% 90deg,#BBC0C4, #E0E2E4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E2E4), to(#BBC0C4));
  border: 1px solid #aaa;
  box-shadow: inset 0  1px 0  #fff;
  -moz-box-shadow: inset 0  1px 0  #fff;
  -webkit-box-shadow: inset 0  1px 0  #fff;
  margin: 20px 0;
}

#tree-newimport #tree-import-list li {
  border: 0;
  border-bottom: 1px solid #aaa;
}

#tree-newimport #tree-import-list li h2 {
  padding-bottom: 0;
}

#tree-newimport ul li:hover {
  background: -moz-linear-gradient(0% 100% 90deg,#aeb3b8, #d2d4d6);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d2d4d6), to(#aeb3b8));
}

#tree-newimport ul li .content {
  float: left;
  padding: 0 0 0 65px;
}

#tree-newimport ul li h1 {
  margin: 0;
  padding: 5px 0;
  text-shadow: 0 1px 0 #fff;
}

#tree-newimport ul li.gnaclr-search h1 {
  padding: 10px 0 0 10px;
}

#tree-newimport ul li p {
  color: #333;
  line-height: 140%;
  margin: 5px 0;
  padding: 0;
}

#tree-newimport ul li.gnaclr-search p {
  margin: 5px 0 0 10px;
}

#tree-newimport ul li input {
  font-size: 16px;
  margin: 10px 4% 14px 2%;
  padding: 8px 5px;
  width: 94%;
}

#tree-newimport ul li p.text-label a {
  text-decoration: underline;
}

#tree-newimport a:link,
#tree-newimport a:hover,
#tree-newimport a:active,
#tree-newimport a:visited {
  color: black;
  text-decoration: none;
}

#tree-newimport .btn-img {
  margin: 10px 0 10px 6px;
}

#tree-newimport .btn-img:hover {
  cursor: pointer;
}

#tree-newimport .result {
  border: 0;
  min-height: 45px;
  width: 100%;
}

#tree-newimport .result .result-text {
  padding: 10px;
}

#tree-newimport .result:hover { }
#tree-newimport .search { background: url("../images/search.png") no-repeat; }
#tree-newimport .search:hover { background: url("../images/search-hover.png") no-repeat; }
#tree-newimport .upload { background: url("../images/upload.png") no-repeat; }
#tree-newimport .upload:hover { background: url("../images/upload.png") 0 -52px no-repeat; }
#tree-newimport .browse { background: url("../images/browse.png") no-repeat; }
#tree-newimport .browse:hover { background:url("../images/browse.png") 0 -52px no-repeat; }
#tree-newimport .flat-list { background: url("../images/flat-list.png") no-repeat; }
#tree-newimport .flat-list:hover { background: url("../images/flat-list.png") 0 -52px no-repeat;}

#tree-newimport ul.list {
  margin: 0;
}

#tree-newimport ul.list li {
  border-bottom: 1px solid rgb(176, 173, 163);
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 0px;
  -webkit-box-shadow: 0 0 0 0 !important;
  -moz-box-shadow: 0px;
  min-height:60px;
  margin: 0;
  width: 100%;
}

#tree-newimport ul.list li:first-child {
  border-top: 0 solid rgb(176, 173, 163);
}

#tree-newimport ul.list li:last-child {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

#tree-newimport .result .content {
  padding: 0 12px !important;
}

#gnaclr-description {
  padding: 12px 15px;
}

#gnaclr-description p {
  margin: 5px 0;
}

#tree-revisions {
  border-bottom: 1px solid #c8cacc;
  border-top: 1px solid #c8cacc;
  margin: 5px 15px 15px 15px;
  padding: 10px 0 0 0;
}

#tree-revisions h3 {
  font-size: 14px;
}

#tree-revisions input {
  margin-left: 20px;
}

ul#revisions {
  margin: 12px 0 0 0;
  width: auto;
}

ul#revisions li {
  background: none;
  border: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 0 8px 0;
  padding: 4px 0;
  height:1.2em;
  line-height:1em;
}

ul#revisions li input[type="radio"] {
  margin: 6px 8px 10px 0;
  width: auto;
}

ul#revisions li span {
  margin-right:10px;
}

ul#revisions li:hover {
  background: none;
}

#import-flat-list{
  margin: 20px 20px 10px;
}

#import-flat-list input[type="text"],
#import-flat-list textarea {
  border: 1px solid rgb(176, 173, 163);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 0 0 16px 0;
  padding: 10px;
  width: 97%;
  max-width: 97%;
}

#import-flat-list .error {
  color: #d10000;
}

/* Master Tree List */
/************************************************************************/
#header .tree_list_header {
  position: relative;
}

#header .tree_list_header_inner {
  width: 635px;
}

#header .tree_list_header h1 {
  float: left;
  font-size: 1em;
  padding: 0;
}

ul#treelist {
  margin: 40px 40px 50px 40px;
  padding: 0;
  width: 640px;
}

ul#treelist li {
  margin: 0 0 10px 0;
}

ul#treelist li h3 {
  font-size: 1.3em;
  margin: 0 0 8px 0;
  padding: 0;
}

ul#treelist li a {
  background: #E0E2E4 url("/images/master_tree_icon.png") 5px 15px no-repeat;
  background: url("/images/master_tree_icon.png") 5px 15px no-repeat, -moz-linear-gradient(0% 100% 90deg,#BBC0C4, #E0E2E4);
  background: url("/images/master_tree_icon.png") 5px 15px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#E0E2E4), to(#BBC0C4));
  border-top: 1px solid rgba(255,255,255,.6);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  padding: 12px 15px 12px 57px;
}

ul#treelist li a:hover {
  background: #ccd0d4 url("/images/master_tree_icon.png") 5px 15px no-repeat;
  background: url("/images/master_tree_icon.png") 5px 15px no-repeat, -moz-linear-gradient(19% 75% 90deg,#919598, #ccd0d4);
  background: url("/images/master_tree_icon.png") 5px 15px no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd0d4), to(#919598));
}

ul#treelist li a:active {
  background: #b3b6ba url("/images/master_tree_icon.png") 5px 15px no-repeat;
  background: url("/images/master_tree_icon.png") 5px 15px no-repeat, -moz-linear-gradient(19% 75% 90deg,#797d80, #b3b6ba);
  background: url("/images/master_tree_icon.png") 5px 15px no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b6ba), to(#797d80));
}

ul#treelist li p {
  display: none;
  font-size: .95em;
  line-height: 1.4;
  margin: 3px 0;
}

ul#treelist a:link,
ul#treelist a:visited,
ul#treelist a:active,
ul#treelist a:hover,
.tree-link a:link,
.tree-link a:hover,
.tree-link a:active,
.tree-link a:visited,
#publish a:link,
#publish a:hover,
#publish a:active,
#publish a:visited {
  color: black;
  text-decoration: none;
}

.date-wrap {
  margin: 5px 0 10px;
  padding: 0;
}

.date-wrap .date, .date-wrap .author {
  color: #393d3f;
  display: inline-block;
  float: left;
  font-size: .9em;
  font-weight: normal;
  margin-right: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

.date-wrap .date strong {
  color: #232323;
}

.tree-link {
  display: block;
  float: right;
  position: relative;
  top: -5px;
}

.tree-link a {
  background: #E0E2E4;
  background: -moz-linear-gradient(0% 100% 90deg,#BBC0C4, #E0E2E4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E2E4), to(#BBC0C4));
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  font-size: 12px;
  display: block;
  padding: 8px 16px 8px 4px;
}

.tree-link a:hover, #publish a:hover {
  background: #ccd0d4;
  background: -moz-linear-gradient(19% 75% 90deg,#919598, #ccd0d4);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccd0d4), to(#919598));
}

.tree-link a:active, #publish a:active {
  background: #b3b6ba;
  background: -moz-linear-gradient(19% 75% 90deg,#797d80, #b3b6ba);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b3b6ba), to(#797d80));
}

#tree-new span {
  background: url("/images/add-node.png") no-repeat;
  color: #232323;
  display: block;
  font-size: 12px;
  padding: 0 0 0 20px;
}

#tree-return span {
  color: #232323;
  display: block;
  font-size: 12px;
  padding: 0px;
}

.tree-link .content {
  padding: 0;
}

/* Flash Notices */
/************************************************************************/
#flash-login-wrap {
  margin: 0 0 30px 0;
}

#flash_error, #flash_success, #flash_failure, #flash_notice {
  background: #fff;
  border: 0px;
  color: #fff;
  font-weight: bold;
  margin: 15px 40px 15px;
  padding: 15px;
}

#flash_success, #flash_notice {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgba(98,161,38,0.6) 0%, rgba(98,161,38,0.6) 54%, rgba(30,117,5,0.6) 100%);
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.0, rgba(98,161,38,0.6)), color-stop(0.54, rgba(98,161,38,0.6)), color-stop(1.0, rgba(30,117,5,0.6)));
  box-shadow: 0 0 0 1px rgb(21,74,6);
  -moz-box-shadow: 0 0 0 1px rgb(21,74,6);
  -webkit-box-shadow: 0 0 0 1px rgb(21,74,6);
}

#flash_error, #flash_failure {
  background: #5aa52b;
  background: -moz-linear-gradient(center bottom, rgba(187,12,12,0.5) 0%, rgba(187,12,12,0.5) 54%, rgba(138,5,5,0.5) 100%);
  background: -webkit-gradient(linear,left bottom,left top, color-stop(0.0, rgba(187,12,12,0.5)), color-stop(0.54, rgba(187,12,12,0.5)), color-stop(1.0, rgba(138,5,5,0.5)));
  box-shadow: 0 0 0 1px rgb(126,1,1);
  -moz-box-shadow: 0 0 0 1px rgb(126,1,1);
  -webkit-box-shadow: 0 0 0 1px rgb(126,1,1);
}

#flash-wrapper {
  width: 50%;
}

#flash_image_success {
  background-image: url("../images/flash-success.png");
}

#flash_image_failure {
  background-image: url("../images/flash-failure.png");
}

#flash_image_success, #flash_image_failure {
  height: 16px;
  float: left;
  margin-right: 10px;
  margin-top: -2px;
  width: 16px;
}

/* Tabs */
/************************************************************************/
.ui-tabs .ui-tabs-hide {
  display: none;
}

.ui-tabs .ui-tabs-panel, .ui-tabs {
  padding: 0px;
}

#tab-titles #all-tabs {
  position: relative;
}

#tab-titles li.ui-state-active {
    z-index:200;
}

#tab-titles #import {
  float: right;
  margin-right: 0;
}

ul#reference-trees {
  background: #BABFC3;
  border: 1px solid #888;
  border-width: 0 1px 1px 0;
  left: -1px;
  padding: 15px 15px 15px 15px;
  position: absolute;
  top: 32px;
  width: 270px;
  z-index: 1000;
}

.ui-tabs .ui-tabs-nav li ul#reference-trees li {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  clear: both;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  text-align: left;
  white-space: normal;
}

#treewrap-right .ui-state-default ul#reference-trees li.ui-state-default {
  border-top: 0;
}

.ui-tabs .ui-tabs-nav li ul#reference-trees li a {
  border-bottom: 1px solid #a0a5a8;
  cursor: pointer;
  display: block;
  padding: 8px 4px;
  width: 263px;
}

.ui-tabs .ui-tabs-nav li ul#reference-trees li:first-child a {
  border-top: 1px solid #a0a5a8;
}

ul#reference-trees li a:hover {
  background: #a0a5a8;
}

/* Border Radius */
/************************************************************************/
#flash_error, #flash_success, #flash_failure, #flash_notice,
ul#treelist li,  #gnaclr-search, .tree-background, #loginform .input, .green-submit, .cancel-button,
.infobox-wrap, .infobox, .tree-back-wrap, #tree-newimport li, .bookmark-addition .input, .bookmarks-input .input {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.tree-background, #treelist li, .tree-back-wrap, #tree-newimport li {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.tree-background, #treelist li, #newtree a, .tree-back-wrap  {
  box-shadow: 0 1px 7px 0 rgba(0,0,0,.7);
  -moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,.7);
  -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.7);
}

#tree-newimport li {
  box-shadow: 0 1px 3px rgba(0,0,0,.7);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.7);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

/* Text Shadow Light Highlight */
/************************************************************************/
#nav li:not(#active), #add-node p, .metadata-header h2, #tree-newimport li h2, #add-node {
  text-shadow: 0 1px 0rgba(255,255,255,0.8);
}

.spinner {
  background: #FFF url("/images/loading.gif") no-repeat center center;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
}

.spinner p.status {
  font-size:1.5em;
  position: absolute;
  text-align: center;
  top: 57%;
  width: 100%;
}

/* jQuery UI */
input[type="text"].ui-state-error, textarea.ui-state-error {
  background-color:#FFB6C1;
}

/* Current Messages */
/************************************************************************/
#chat-messages-wrapper {
  position:fixed;
  bottom:0px;
  right:10px;
  border:1px solid #AAA;
  box-shadow: 0 1px 0 #DEE4E8 inset;
  background-color:white;
  z-index:1000;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  width:250px;
}

#chat-messages-wrapper #chat-messages-head {
  height:20px;
  line-height:20px;
  background-color:#BABFC3;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  position:relative;
}

#chat-messages-wrapper #chat-messages-title {
  padding: 0 0px 0 12px;
  text-shadow: 0 1px 0 #DADEE2;
  font-weight:bold;
}

#chat-messages-wrapper #chat-messages-head #chat-messages-options {
  text-align:right;
  width:50px;
  position:absolute;
  top:0px;
  right:0px;
}

#chat-messages-options a.chat-messages-control {
  width:16px;
  height:16px;
  margin:0px 3px;
  padding:0px 5px;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration:none;
}

#chat-messages-options #chat-messages-minimize { background-image: url("../images/icons/bullet_yellow.png"); }
#chat-messages-options #chat-messages-maximize { background-image: url("../images/icons/bullet_green.png"); }

#chat-messages-scroller {
  overflow-y:auto;
  min-height:250px;
  max-height:400px;
  display:none;
}

#chat-messages-list {
  margin:5px;
}

#chat-messages-list li {
  margin-left: 1em;
}

#chat-messages-list li span.user {
  color:#555;
  margin-left: -1em;
}

#chat-messages-list li.new-user span.message {
  display:block;
  color:green;
}

#chat-messages-list li span.message {
  margin-left:3px;
}

#chat-messages-form {
  border-top:1px solid #AAA;
  padding:5px;
  display:none;
}
#chat-messages-form textarea {
  font-family: Helvetica,Arial,sans-serif;
  font-size:1em;
  width:230px;
  padding:5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:1px solid #AAA;
}

/* Edit History */
/************************************************************************/
.master_tree_logs table {
  width:100%;
}

.master_tree_logs table thead tr {
  color: #444;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 0 1px 0 #DADEE2;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 1px 0 #DEE4E8 inset;
}

.master_tree_logs table thead tr td {
  padding:5px;
  border-bottom: 1px solid #868D92;
  background-color: #BABFC3;
}

.master_tree_logs table thead tr td:first-child {
  border-radius: 6px 0px 0px 0px;
  -moz-border-radius: 6px 0px 0px 0px;
  -webkit-border-radius: 6px 0px 0px 0px;
}

.master_tree_logs table thead tr td:last-child {
  border-radius: 0px 6px 0px 0px;
  -moz-border-radius: 0px 6px 0px 0px;
  -webkit-border-radius: 0px 6px 0px 0px;
}

.master_tree_logs table thead tr td.action-command-action {
  width:65%;
}

.master_tree_logs table thead tr td.action-command-user {
  width:20%;
}

.master_tree_logs table thead tr td.action-command-updated {
  width:15%;
}

.master_tree_logs table tbody tr td {
  padding:0px 4px;
}

.master_tree_logs table tbody tr td span.reverted {
  color:red;
}

.master_tree_logs table tr {
  line-height:2em;
}

.master_tree_logs table tr.even {
  background: none repeat scroll 0 0 white;
}

.master_tree_logs table tr.odd  {
  background: none repeat scroll 0 0 #E6E6E6;
}

.master_tree_logs table tr.last {
  background-color:transparent;
}

.master_tree_logs table tr.last-even td {
  background-color:white;
}

.master_tree_logs table tr.last-odd td {
  background-color:#E6E6E6;
}

.master_tree_logs table tr.last td:first-child {
  border-radius: 0px 0px 0px 6px;
  -moz-border-radius: 0px 0px 0px 6px;
  -webkit-border-radius: 0px 0px 0px 6px;
}

.master_tree_logs table tr.last td:last-child {
  border-radius: 0px 0px 6px 0px;
  -moz-border-radius: 0px 0px 6px 0px;
  -webkit-border-radius: 0px 0px 6px 0px;
}

.master_tree_logs table tr.single td {
  background-color:white;
  border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
}

.master_tree_logs .pagination {
  margin:10px;
  font-size:1.5em;
  color:white;
  font-weight:bold;
}

.master_tree_logs .pagination a {
  color:green;
}