<!-- Start of Login Content -->
<div id="loginwrap" class="clearfix">
  <div id="flash-login-wrap">
    <%= render :partial => 'shared/flashes' -%>
  </div>
  <!-- Start of Logo -->
  <div id="loginlogo">
    <a href="/"><img src="/images/login-logo.png"/></a>
    <h1>Global Names Interface for Taxonomic Editing</h1>
  </div>
  <!-- End of Logo -->

  <%= yield %>

</div>
<!-- End of Login Content -->

<%= render :partial => "users/shared/links" %>

<!-- Start of Disclaimer -->
<div id="disclaimer">
  <hr>
  <p>GNITE is an open project <a href="https://github.com/GlobalNamesArchitecture/GNITE">under active development</a> and a component of <a href="http://www.globalnames.org">Global Names</a> (GN).<br />It allows taxonomists and other enthusiasts to build and edit classifications and lists that can be used to manage biodiversity information.</p>
</div>
<!-- End of Disclaimer -->