<div id="navbar">
  <div id="logo"><a href="/"><img src="/assets/logo-nav.png" alt="Global Names Integrated Taxonomic Editor"/></a></div>
  <div id="nav">
    <ul>
      <!-- Link to Working Trees -->
      <% if !controller_path.include?("admin") && controller_name == 'master_trees' || controller_name == 'master_tree_logs' || controller_name == 'merge_events' %>
        <li id="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to master_trees_path do %>
          <span class="nav_master_tree">Working Trees</span>
        <% end %>
      </li>

      <!-- Link to Profile Settings -->
      <% if controller_name == 'registrations' %>
        <li id="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to edit_user_registration_path do %>
          <span class="nav_profile">Profile Settings</span>
        <% end %>
      </li>

      <!-- Link to Feedback -->
      <li>
        <a href="javascript:UserVoice.showPopupWidget();" title="Feedback"><span class="nav_feedback">Feedback</span></a>
      </li>

      <!-- Link to Admin -->
      <% if current_user.has_role?(:admin) || current_user.has_role?(:master_editor) %>
        <% if controller_path.include?("admin") %>
          <li id="active">
        <% else %>
          <li>
        <% end %>
          <%= link_to admin_path do %>
            <span class="nav_admin">Administration</span>
          <% end %>
        </li>
      <% end %>

      <!-- Link to Sign Out -->
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <img class="icon" src="/assets/sign-out.png"/>Sign Out
        <% end %>
      </li>

    </ul>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/AWgdy8RnNtPodnFpGvp9rg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
<% end %>
