<div class="searchbar">
    <input class="tree-search" type="text" size="30">
    <div class="searchicon">&nbsp;</div>
</div>

<div class="searchbar-dropdown">
    <span class="searchbar-view">&nbsp;</span>
    <div class="searchbar-results dark"></div>
</div>