<!-- Start of Body Content --> 
<div id="content"> 
  <!-- Start of Settings Body --> 
  <div id="header"> 
    <h1>Master Trees</h1> 
  </div> 
  <div id="bodywrap"> 
    <!-- Start of Box --> 
    <div class="infobox-wrap"> 
      <div class="title"> 
        <p>Choose a tree to edit</p> 
      </div> 
      <div class="infobox"> 
        <%= link_to 'New Tree', new_tree_path %>
      </div> 
    </div> 
    <!-- End of Box --> 
  </div> 
  <!-- End of Settings Body --> 
</div> 
<!-- End of Body Content --> 
