<% content_for :header do %>
  Master Trees
<% end %>

<!-- Start of Box -->
<div class="infobox-wrap">
  <div class="title">
    <p>Create a new master tree</p>
  </div>
  <div class="infobox">
    <ul>
      <li><%= link_to 'New Tree', new_tree_path %></li>
    </ul>
  </div>
</div>
<!-- End of Box -->

<% if current_user.trees.any? %>
  <!-- Start of Box -->
  <div class="infobox-wrap">
    <div class="title">
      <p>Or choose an existing tree to edit</p>
    </div>
    <div class="infobox">
      <ul>
        <% current_user.trees.each do |tree| %>
          <li><%= link_to tree.title, tree_url(tree.id) %></li>
        <% end %>
      </ul>
    </div>
    <!-- End of Box -->
  </div>
<% end %>
