<% content_for :header do %>
  New Master Tree
<% end %>

<!-- Start of New Tree Box -->
  <!-- Start of Left Tree -->
  <div class="tree-column">
    <div class="treewrap">
      <%= semantic_form_for(:tree, :url => trees_path, :html => { :method => :post, :id => "tree-metadata" }) do |form| %>
        <%= render :partial => "form", :locals => { :form => form } %>
        <%= form.buttons do -%>
          <%= form.commit_button "Create", :button_html => { :class => "green-submit" } %>
        <% end -%>
      <% end %>
    </div>
  </div>
  <!-- End of Left Tree -->
  <!-- Start of Right Tree -->
      <div class="tree-column">
        <div class="treewrap">
          <!-- Start of Tree Background -->
          <div class="tree-back-wrap">
            <div class="metadata-header"> 
              <h1>New Import</h1>
            </div>
            <div id="tree-newimport">
                  <ul>
                    <li>
                    <a href="#">
                      <div class="btn-img search">
                        <div class="content">
                          <h1>Search GNACLR Database</h1>
                          <p>Search GNACLR database for master trees to import</p>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      </a>
                    </li>
                    <li>
                      <div class="btn-img upload">
                        <div class="content">
                          <h1>Upload New File</h1>
                          <p>Search GNACLR database for master trees to import</p>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                    <li>
                      <div class="btn-img browse">
                        <div class="content">
                          <h1>Open an Existing File</h1>
                          <p>Search GNACLR database for master trees to import</p>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </li>
                  </ul>
            </div>
          </div>
          <!-- End of Tree Background -->
        </div>
      </div>
  <!-- End of Right Tree -->
