<%= content_for :panel_header do %>
<li>
  New Import
</li>
<% end %>
<ul>
  <li class="gnaclr-search">
    <h1>Search GNACLR database</h1>
    <p>Full search on nodes and metadata</p>
    <input type="text">
  </li>
  <li class="clearfix">
  <%= link_to master_tree_gnaclr_classifications_path(@master_tree), :class => 'ajax-load-new-tab' do %>
    <div class="btn-img browse">
      <div class="content">
        <h1>Browse GNACLR database</h1>
        <p>Browse GNACLR database for master trees to import</p>
      </div>
    </div>
  <% end %>
  </li>
  <li class="clearfix">
    <%= link_to new_master_tree_flat_list_import_path(@master_tree), :class => 'ajax-load-new-tab' do %>
    <div class="btn-img upload">
      <div class="content">
        <h1>Import file</h1>
        <p>Upload a file to import</p>
      </div>
    </div>
    <% end %>
  </li>
  <li class="clearfix">
    <%= link_to new_master_tree_flat_list_import_path(@master_tree), :class => 'ajax-load-new-tab' do %>
    <div class="btn-img flat-list">
      <div class="content">
        <h1>Enter flat list</h1>
        <p>Enter a flat list to import</p>
      </div>
    </div>
    <% end %>
  </li>
</ul>

