<%= content_for :panel_header do %>
<li>
  New Import
</li>
<% end %>
<ul>
  <li>
  <%= link_to master_tree_gnaclr_classifications_path(@master_tree), :class => 'ajax-load-new-tab' do %>
    <div class="btn-img browse">
      <div class="content">
        <h1>Browse GNACLR Database</h1>
        <p>Browse GNACLR database for master trees to import</p>

      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>
  </li>
  <li>
    <%= link_to new_master_tree_flat_list_import_path(@master_tree), :class => 'ajax-load-new-tab' do %>
    <div class="btn-img upload">
      <div class="content">
        <h1>Import a flat list</h1>
        <p>Enter a flat list of names to import</p>
      </div>
    </div>
    <div class="clearfix"></div>

    <% end %>
  </li>
</ul>

