<%= content_for :panel_header do %>
  <li>New Import</li>
<% end %>

<ul>
  <li class="gnaclr-search">
    <h1>Search GNACLR database</h1>
    <label for="search">
      <p>Full search on nodes and metadata</p>
      <input type="text" id="search">
    </label>
  </li>
  <li>
    <%= link_to master_tree_gnaclr_classifications_path(@master_tree), :class => 'ajax-load-new-tab' do %>
      <div class="btn-img browse clearfix">
        <div class="content">
          <h1>Browse GNACLR database</h1>
          <p>Browse GNACLR database for master trees to import</p>
        </div>
      </div>
    <% end %>
  </li>
  <li>
    <%= link_to new_master_tree_flat_list_import_path(@master_tree), :class => 'ajax-load-new-tab' do %>
      <div class="btn-img upload clearfix">
        <div class="content">
          <h1>Import file</h1>
          <p>Upload a file to import</p>
        </div>
      </div>
    <% end %>
  </li>
  <li>
    <%= link_to new_master_tree_flat_list_import_path(@master_tree), :class => 'ajax-load-new-tab' do %>
      <div class="btn-img flat-list clearfix">
        <div class="content">
          <h1>Enter flat list</h1>
          <p>Enter a flat list to import</p>
        </div>
      </div>
    <% end %>
  </li>
</ul>

<% content_for :javascript do -%>
  <script type="text/javascript">
    $(function() {
      $("#search")
        .focus()
        .blur(function(){
          var searchBox  = $(this);
          var searchTerm = searchBox.val().trim();
          if (searchTerm.length > 0) {
            searchBox.parents(".gnaclr-search").first().spinner();
            $.get('/search', { 'search_term': searchTerm }, function(search_results){
              $('#new-tab .tree-background').html(search_results);
              searchBox.parents(".gnaclr-search").first().unspinner();
            });
          }
        })
        .keypress(function(event) {
          if (event.which == 13) {
            $(this).blur();
          }
        });
    });
  </script>
<% end -%>
