	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="css/main.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="wrapper">
		<!-- Start of Sidebar -->
			<div id="navbar">
				<div id="logo"><img src="/images/logo-nav.png"/></div>
				<div id="nav">
					<ul>
						<li id="active"><a href="mastertrees.html"><img class="icon hover" src="/images/tree-active.png"/>Master Trees</a>
							<ul>
								<li class="active"><a href="#">Your Master Trees</a></li>
								<li><a href="#">New Master Tree</a></li>
							</ul>
						</li>
						<li><a href="profile.html"><img class="icon" src="/images/profile-nonactive.png"/>Profile</a></li>
						<li><a href="settings.html"><img class="icon" src="/images/settings-nonactive.png"/>Settings</a></li>
						<li><a href="karma.html"><img class="icon" src="/images/karma-nonactive.png"/>Karma</a></li>
					</ul>
				</div>
			</div>
		<!-- End of Sidebar -->
		<!-- Start of Body Content -->
			<div id="content">
			<!-- Start of Left Tree -->
					<div class="tree-column">
						<div class="treewrap">
							<div class="tree-nav">
								<ul>
									<li><a href="#">New Master Tree</a></li>
									<li><a href="#">New Node</a></li>
								</ul>
							</div>
							<div class="tree">
								<div class="breadcrumbs">
									<ul>
										<li>Kingdom</li>
										<li>Phylum</li>
										<li>Class</li>
										<li>Order</li>
										<li>Family</li>
									</ul>
								</div>
								<div class="searchbar">
									<div class="grid-button">
										<a href="#"><img class="icon" src="/images/metadata-author.png"/>Author</a>
									</div>
									<div class="grid-button">
										<a href="#"><img class="icon" src="/images/gridview.png"/>Grid view</a>
									</div>
									<form method="get" id="searchform" action="">
										<fieldset>
											<input type="text" value="Search this tree" name="search" id="search" onclick="this.value='';this.onclick=null;" />
										</fieldset>
									</form>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
			<!-- End of Left Tree -->
			<!-- Start of Right Tree -->
					<div class="tree-column">
						<div class="treewrap">
							<div class="tree-nav">
								<ul>
								
								</ul>
							</div>
							<div class="tree">
								<div class="breadcrumbs">
									<p></p>
								</div>
								<div class="searchbar">
									<div class="grid-button">
										
									</div>
		
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
			<!-- End of Right Tree -->
			</div>
		<!-- End of Body Content -->
		</div>
	</body>
</html>