   <link href="../stylesheets/Aristo/jquery-ui-1.8rc3.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <div id="wrapper">
    <!-- Start of Sidebar -->
      <div id="navbar">
        <div id="logo"><img src="/images/logo-nav.png"/></div>
        <div id="nav">
          <ul>
            <li id="active"><a href="mastertrees.html"><img class="icon hover" src="/images/tree-active.png"/>Master Trees</a>
              <ul>
                <li class="active"><a href="treelist.html">Your Master Trees</a></li>
                <li><a href="#">New Master Tree</a></li>
              </ul>
            </li>
            <li><a href="profile.html"><img class="icon" src="/images/profile-nonactive.png"/>Profile</a></li>
            <li><a href="settings.html"><img class="icon" src="/images/settings-nonactive.png"/>Settings</a></li>
            <li><a href="karma.html"><img class="icon" src="/images/karma-nonactive.png"/>Karma</a></li>
          </ul>
        </div>
      </div>
    <!-- End of Sidebar -->
    <!-- Start of Body Content -->
      <div id="content">
        <div id="header" class="tree">
          <h1>New Master Tree</h1>
        </div>
      <!-- Start of Left Tree -->
        <div class="tree-column">
        <div id="fluid-head">

        </div>
            <div id="treewrap-left">
              <!-- Start of Tree Background -->
              <div class="tree-background dark">
                <div class="metadata-header"> 
                  <h1>Add Tree Metadata</h1>
                </div>
                <div class="tree-back">
                  <form id="tree-metadata" action="newtrees.html" method="get"> 
                  	<fieldset>
                    	<ul>
                    		<li><label for="name">Tree Name*</label><input type="text" name="name" id="" /></li>
                    		<li><label for="uuid">UUID</label><input type="text" value="550e8400-e29b-41d4-a716-446655440000" name="uuid" id="" READONLY /></li>
                    		<li><label for="pub-date">Publication Date</label><input type="text" name="date" id="" /></li>
                    		<li><label for="citation">Citation</label><input type="text" name="citation" id="" /></li>
                        <li><label for="abstract">Abstract*</label><textarea name="abstract" id="textarea" rows="5" cols="30"></textarea></li>
    
                    		<li><label for="creative-commons">Creative Commons</label><input type="text" name="creative-commons" id="" /></li>
                  		</ul>
                  	</fieldset>
                    <input type="submit" value="Create Tree" class="green-submit shadow"/>
                  </form>
                </div>
              </div>
              <!-- End of Tree Background -->
                <!--<input type="submit" value="Create Tree" class="green-submit"/> -->
            </div>
          </div>
      <!-- End of Left Tree -->
      <!-- Start of Right Tree -->
          <div class="tree-column">
            <div id="treewrap-right">
            <div id="tabs">
            	<ul>
            		<li><a href="#tabs-1">New Tab</a></li>
            		<li id="trash"><a href="#trash-tab">Trash</a></li>
            	</ul>
            	<div id="tabs-1">
                <div class="tree-background dark">
                    <div class="metadata-header"> 
                      <h1>New Import</h1>
                    </div>
                    <div id="tree-newimport">
                    	<ul>
                        <li>
                        <a href="#">
                          <div class="btn-img search">
                            <div class="content">
                              <h1>Search GNACLR Database</h1>
                              <p>Search GNACLR database for master trees to import</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          </a>
                        </li>
                        <li>
                          <div class="btn-img upload">
                            <div class="content">
                              <h1>Upload New File</h1>
                              <p>Upload an Excel spreadsheet or plain text file</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </li>
                        <li>
                          <div class="btn-img browse">
                            <div class="content">
                              <h1>Open an Existing File</h1>
                              <p>Open one of my previously created master trees</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </li>
                  		</ul>
                    </div>
                    
                  <!-- End of .tree-back-wrap -->
            	 </div>
            	 <!-- End of .tree-background -->
              </div>
              <!-- End of tab-3 -->
              <div id="trash-tab">
                <div class="tree-background">
                  <div class="metadata-header"> 
                    <h1>Trash Bin</h1>
                  </div>
                  <p>Your Trash Bin is currently Empty.</p>
                </div>
          	 </div>
          </div>
      <!-- End of Right Tree -->      
        </div>
    <!-- End of Body Content -->
    
    
    
    