	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="css/main.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="wrapper">
		<!-- Start of Sidebar -->
			<div id="navbar">
				<div id="logo"><img src="/images/logo-nav.png"/></div>
				<div id="nav">
					<ul>
						<li><a href="mastertrees.html"><img class="icon" src="/images/tree-nonactive.png"/>Master Trees</a></li>
						<li id="active"><a href="profile.html"><img class="icon hover" src="/images/profile-active.png"/>Profile</a>
							<ul>
								<li class="active"><a href="#">Account Settings</a></li>
								<li><a href="#">Sorting Options</a></li>
								<li><a href="#">Options Three</a></li>
								<li><a href="#">Options Four</a></li>
							</ul>			
						</li>
						<li><a href="settings.html"><img class="icon" src="/images/settings-nonactive.png"/>Settings</a></li>
						<li><a href="karma.html"><img class="icon" src="/images/karma-nonactive.png"/>Karma</a></li>
					</ul>
				</div>
			</div>
		<!-- End of Sidebar -->
		<!-- Start of Body Content -->
			<div id="content">
			<!-- Start of Settings Body -->
				<div id="header">
					<h1>Profile</h1>
				</div>
				<div id="bodywrap">
					<div class="tree-nav">
						<ul>
							<li><a href="#">Sorting Options</a></li>
							<li><a href="#">Account Settings</a></li>
							<li><a href="#">Settings Section</a></li>
							<li><a href="#">Settings Section</a></li>
						</ul>
					</div>
				</div>
			<!-- End of Settings Body -->
			</div>
		<!-- End of Body Content -->
		</div>
	</body>
</html>