		<!-- Start of Login Content -->
			<div id="loginwrap">
			<!-- Start of Logo -->
				<div id="loginlogo">
					<img src="/images/login-logo.png"/>
				</div>
			<!-- End of Logo -->
			<!-- Start of Forms -->
			<div id="loginform">
				<form action="mastertrees.html" method="get" id="signin">
					<fieldset>
					<legend>Reset your GNITE password</legend>
						<p><label for="email"></label><input type="text" name="email" value="Enter your email address" id="form" /></p>
					</fieldset>
					<p><input type="submit" value="Send me a new password" id="signin-btn"/></p>
				</form>
				<hr/>
				<p><a href="signin.html">Back to sign in screen</a></p>
			</div>
			<!-- End of Forms -->
			</div>
		<!-- End of Body Content -->
