	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="css/main.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="wrapper">
		<!-- Start of Sidebar -->
			<div id="navbar">
				<div id="logo"><img src="/images/logo-nav.png"/></div>
				<div id="nav">
					<ul>
						<li><a href="mastertrees.html"><img class="icon" src="/images/tree-nonactive.png"/>Master Trees</a></li>
						<li><a href="profile.html"><img class="icon" src="/images/profile-nonactive.png"/>Profile</a></li>
						<li id="active"><a href="settings.html"><img class="icon hover" src="/images/settings-active.png"/>Settings</a></li>
						<li><a href="karma.html"><img class="icon" src="/images/karma-nonactive.png"/>Karma</a></li>
					</ul>
				</div>
			</div>
		<!-- End of Sidebar -->
		<!-- Start of Body Content -->
			<div id="content">
			<!-- Start of Settings Body -->
				<div id="header">
					<h1>Account Settings</h1>
				</div>
				<div id="bodywrap">
			<!-- Start of Profile Information Box -->
					<div class="infobox-wrap">
						<div class="infobox">
						<form action="" method="get">
							<div class="title">
								<fieldset>
									<legend>Profile Information</legend>
							</div>	
									<p><label for="first">First name</label><input type="text" name="first" id="first" /></p>
									<p><label for="first">Last name</label><input type="text" name="first" id="first" /></p>
									<p><label for="first">Location name</label><input type="text" name="first" id="first" /></p>
								</fieldset>
							<p><input type="submit" /></p>
						</form>
						</div>
					</div>
			<!-- End of Profile Information Box -->
			<!-- Start of Profile Information Box -->
					<div class="infobox-wrap">
						<div class="infobox">
							<div class="breadcrumbs title">
								<p>Profile Information</p>
							</div>
							<div class="labels">
								<ul>
									<li>Email address</li>
									<li>Password</li>
									<li>Password Confirm</li>
								</ul>
							</div>

						</div>
					</div>
			<!-- End of Profile Information Box -->

				</div>
			<!-- End of Settings Body -->
			</div>
		<!-- End of Body Content -->
		</div>
	</body>
</html>