		<!-- Start of Login Content -->
			<div id="loginwrap">
			<!-- Start of Logo -->
				<div id="loginlogo">
					<img src="/images/login-logo.png"/>
				</div>
			<!-- End of Logo -->
			<!-- Start of Forms -->
			<div id="loginform">
				<form action="mastertrees.html" method="get" id="signin">
					<fieldset>
					<legend>Sign up for a GNITE account</legend>
						<p><label for="first"></label><input type="text" name="first" value="First Name" id="form" /></p>
						<p><label for="last"></label><input type="text" name="last" value="Last Name" id="form" /></p>
						<p><label for="email"></label><input type="text" name="email" value="Email address" id="form" /></p>
						<br><br><br>
						<p><label for="password"></label><input type="password" name="password" value="Password" id="form" /></p>
						<p><label for="password"></label><input type="password" name="vpassword" value="Verify password" id="form" /></p>
					</fieldset>
					<p><input type="submit" value="Sign Up" id="signin-btn"/></p>
				</form>
				<hr/>
				<p>Already have a GNITE account? <a href="signin.html">Sign in here</a></p>
			</div>
			<!-- End of Forms -->
			</div>
		<!-- End of Body Content -->
	</body>
