    <div id="wrapper">
    <!-- Start of Sidebar -->
      <div id="navbar">
        <div id="logo"><img src="/images/logo-nav.png"/></div>
        <div id="nav">
          <ul>
            <li id="active"><a href="mastertrees.html"><img class="icon hover" src="/images/tree-active.png"/>Master Trees</a>
              <ul>
                <li class="active"><a href="#">Your Master Trees</a></li>
                <li><a href="#">New Master Tree</a></li>
              </ul>
            </li>
            <li><a href="profile.html"><img class="icon" src="/images/profile-nonactive.png"/>Profile</a></li>
            <li><a href="settings.html"><img class="icon" src="/images/settings-nonactive.png"/>Settings</a></li>
            <li><a href="karma.html"><img class="icon" src="/images/karma-nonactive.png"/>Karma</a></li>
          </ul>
        </div>
      </div>
    <!-- End of Sidebar -->
    <!-- Start of Body Content -->
      <div id="content">
      <!-- Start of Left Tree -->
        <div id="header">
          <h1>Your Master Trees</h1>
        </div>
        <div id="bodywrap">
        
          <ul id="treelist">
            <li>
              <div id="newtree">
                <h1>Create New Master Tree</h1>
                <p>Create and edit a new master tree</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <a href="http://google.com">
            <li>
              <div class="content">
                <h1>African Hippopotamus</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                <div class="date-wrap">
                  <div class="date">Created: 06/22/10</div>
                  <div class="date">Last Edited: 07/02/10</div>
                </div>
              </div>
              <div class="clearfix"></div>
            </li>
            </a>
            <li>
              <div class="content">
                <h1>Silverback Gorilla</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                <div class="date-wrap">
                  <div class="date">Created: 06/22/10</div>
                  <div class="date">Last Edited: 07/02/10</div>
                </div>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="content">
                <h1>African Hippopotamus</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                <div class="date-wrap">
                  <div class="date">Created: 06/22/10</div>
                  <div class="date">Last Edited: 07/02/10</div>
                </div>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
    <!-- End of Body Content -->
      </div>   
    </div>    
