<div id="chat-messages-wrapper">
  <div id="chat-messages-head">
    <span id="chat-messages-title">Chat</span>
    <div id="chat-messages-options">
      <a href="#" id="chat-messages-minimize" class="chat-messages-control" alt="minimize" title="minimize">&nbsp;</a>
      <a href="#" id="chat-messages-maximize" class="chat-messages-control" alt="maximize" title="maximize">&nbsp;</a>
    </div>
  </div>
  <div id="chat-messages-scroller">
    <ul id="chat-messages-list"></ul>
  </div>
  <div id="chat-messages-form">
    <form>
      <textarea id="chat-messages-input"></textarea>
    </form>
  </div>
</div>