<div id="<%= type%>-context" class="ddsmoothmenu-v">
  <ul class="topnav">
    <li><a href="#" class="nav-edit-rename">Edit</a></li>
    <li><a href="#" class="nav-edit-delete">Delete</a></li>
  </ul>
</div>