<div id="merge-form" title="Merge">
    <%= form_tag do %>
      <p>Pick which node is most authoritative</p>
      <div id="master-tree-merge-selection" class="merge-column">
        <h2></h2>
        <span></span>
        <%= hidden_field "merge", "master-tree" %>
      </div>
      <div id="reference-tree-merge-selection" class="merge-column">
        <h2></h2>
        <span></span>
        <%= hidden_field "merge", "reference-tree" %>
      </div>
    <% end %>
</div>