<div class="node-metadata clearfix">
  <h3>Node metadata</h3>

  <div class="metadata-section metadata-synonyms clearfix">
    <h4><span>Synonyms</span></h4>
    <ul class="clearfix">
    </ul>
  </div>

  <div class="metadata-section metadata-vernacular-names clearfix">
    <h4><span>Vernacular names</span></h4>
    <ul class="clearfix">
    </ul>
  </div>

  <div class="metadata-section metadata-rank clearfix">
    <h4><span>Rank</span></h4>
    <ul class="clearfix">
    </ul>
  </div>
</div>
