<div class="tree-column">
  <div id="treewrap-right">
    <div id="tabs">
      <ul>
        <li><a href="#new-tab">New Tab</a></li>
      </ul>
      <div id="new-tab">
        <%= render template: 'imports/new', layout: 'layouts/right_tree' %>
      </div>
    </div>
  </div>
</div>
