  <ul id="synonym-context" class="subnav">
    <% ControlledVocabulary.find_by_identifier("taxonomic_status").controlled_terms.each do |status| %>
      <li data-metadata-term="<%= status.identifier %>" class="metadata-edit"><a href="#"><%= status.name %></a></li>
    <% end %>
  </ul>