<div id="vernacular-context" class="ddsmoothmenu-v">
  <ul class="topnav">
    <li><a href="#" class="nav-edit-rename">Edit</a></li>
    <li><a href="#" class="nav-edit-tag-blue">Language</a>
      <ul class="subnav">
        <% Language.all.each do |language| %>
          <li class="metadata-flag" data-language-id="<%= language.id %>"><a href="#"><%= language.name %></a></li>
        <% end %>
      </ul>
    </li>
    <li><a href="#" class="nav-edit-delete">Delete</a></li>
  </ul>
</div>