  <ul id="vernacular-context" class="subnav">
    <li>
      <label for="">Language</label>
      <input id="" type="text" class="metadata-autocomplete" value="" data-terms="url:/languages.json" data-term-id="" />
    </li>
  </ul>