<% content_for :header do %>
  <div class="tree_list_header clearfix">
    <div class="tree_list_header_inner clearfix">
      <h1>Your Trees</h1>
        <div id="tree-new" class="tree-link clearfix">
          <a href="<%= new_master_tree_path %>"><span>Create Working Tree</span></a>
        </div>
    </div>
  </div>
<% end %>

<% if @master_trees.any? %>
  <h2>Trees You Created</h2>
  <ul class="treelist clearfix">
    <% @master_trees.each do |tree| %>
      <%= render partial: "tree_button", locals: { tree: tree } %>
    <% end %>
  </ul>
<% end %>

<% if @accessible_trees.any? %>
  <h2>Trees You Can Edit</h2>
  <ul class="treelist clearfix">
    <% @accessible_trees.each do |tree| %>
      <%= render partial: "tree_button", locals: { tree: tree } %>
    <% end %>
  </ul>
<% end %>
