<% content_for :header do %>
  New Master Tree
<% end %>

<!-- Start of New Tree Box -->
  <!-- Start of Left Tree -->
  <div class="tree-column">
    <div id="fluid-head">

    </div>
    <div id="treewrap-left">
      <%= semantic_form_for(:master_tree, :url => master_trees_path, :html => { :method => :post, :id => "tree-metadata" }) do |form| %>

      <!-- Start of Tree Background -->
        <div class="tree-background dark">
          <div class="metadata-header"> 
            <h1>Tree Description</h1>
          </div>
          <div class="tree-back">
            <%= render :partial => "form", :locals => { :form => form } %>
        <%= form.buttons do -%>
          <%= form.commit_button "Create", :button_html => { :class => "green-submit" } %>
        <% end -%>
      <% end %>
      </div>
    </div>
    </div>
  </div>

  <!-- End of Left Tree -->
      <!-- Start of Right Tree -->
          <div class="tree-column">
            <div id="treewrap-right">
            <div id="tabs">
            	<ul>
            		<li><a href="#tabs-1">New Tab</a></li>
            		<li id="trash"><a href="#trash-tab">Trash</a></li>
            	</ul>
            	<div id="tabs-1">
                <div class="tree-background dark">
                    <div class="metadata-header"> 
                      <h1>New Import</h1>
                    </div>
                    <div id="tree-newimport">
                    	<ul>
                        <li>
                        <a href="#">
                          <div class="btn-img search">
                            <div class="content">
                              <h1>Search GNACLR Database</h1>
                              <p>Search GNACLR database for master trees to import</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          </a>
                        </li>
                        <li>
                          <div class="btn-img upload">
                            <div class="content">
                              <h1>Upload New File</h1>
                              <p>Upload an Excel spreadsheet or plain text file</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </li>
                        <li>
                          <div class="btn-img browse">
                            <div class="content">
                              <h1>Open an Existing File</h1>
                              <p>Open one of my previously created master trees</p>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </li>
                  		</ul>
                    </div>
                    
                  <!-- End of .tree-back-wrap -->
            	 </div>
            	 <!-- End of .tree-background -->
              </div>
              <!-- End of tab-3 -->
              <div id="trash-tab">
                <div class="tree-background">
                  <div class="metadata-header"> 
                    <h1>Trash Bin</h1>
                  </div>
                  <p>Your Trash Bin is currently Empty.</p>
                </div>
          	 </div>
          </div>
      <!-- End of Right Tree -->
