<div id="header">
 <h1>Administration</h1>
</div>

<ul class="treelist clearflix">
  <li>
    <a href="<%= admin_users_path %>" class="clearfix button">
      <div class="content">
        <h3>Administer Users</h3>
        <div class="metadata-wrap">
          <div class="activity created">Add and edit users</div>
        </div>
      </div>
    </a>
  </li>
</ul>