<div class="tree-background dark">
  <div class="breadcrumbs">
    <ul> 
      <%= content_for :panel_header %>
    </ul>
  </div>
  <div id="tree-newimport">
    <%= yield %>
  </div>
</div> <!-- End of .tree-background -->
