<div class="tree-background dark">

  <div class="metadata-header"> 
    <h1><%= content_for :panel_header %></h1>
  </div>
  <div id="tree-newimport">
    <%= yield %>
  </div>

</div> <!-- End of .tree-background -->
