<div id="toolbar-deleted" class="toolbar ddsmoothmenu clearfix">
  <ul class="topnav">
    <li><a href="#">View</a>
        <ul class="subnav">
          <li><a href="#" class="nav-refresh-tree">Refresh tree</a></li>
          <li><a href="#" class="nav-collapse-tree">Collapse tree</a></li>
        </ul>
    </li>
  </ul>
</div>